In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import itertools # Importando itertools para generar combinaciones de columnas
# Importando la función seasonal_decompose para la descomposición de series temporales
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.patches as mpatches
import payments_manager as pm
#pm.help()
#pm.reset()
#pm.init() #debug=True)
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')
#cr_cp.info()
#fe_cp.info()

df_jo = pm.df('df_jo')
#df_jo.info()
df_jo = pm.sort("df_jo", ["id_cr"]).reset_index()
df_jo = df_jo.drop(columns=['index'])

#df_jo = df_jo.drop(columns=['Mes_created_at'])
df_jo_cp = df_jo.copy()
df_jo_cp['cr_received_date'] = df_jo_cp.cash_request_received_date
df_jo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32092 entries, 0 to 32091
Data columns (total 43 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id_cr                       32092 non-null  int64
 1   id_fe                       32092 non-null  int64
 2   fe_cr_id                    21055 non-null  float64
 3   user_id                     32092 non-null  int64
 4   active                      32092 non-null  int64
 5   created_at                  32092 non-null  datetime64[ns]
 6   created_at_fe               21055 non-null  datetime64[ns]
 7   amount                      32092 non-null  float64
 8   fee                         21055 non-null  float64
 9   stat_cr                     32092 non-null  object
 10  stat_fe                     32092 non-null  object
 11  transfer_type               32092 non-null  object
 12  type                        32092 non-null  object
 13  to_receive_ini              24147 non-null  timedelta64[ns]
 14  to_receive_bank             17472 non-null  timedelta64[ns]
 15  to_reimbur                  32092 non-null  timedelta64[ns]
 16  to_reimbur_cash             22677 non-null  timedelta64[ns]
 17  to_end                      23915 non-null  timedelta64[ns]
 18  to_send                     22677 non-null  timedelta64[ns]
 19  send_at                     22677 non-null  datetime64[ns]
 20  cr_received_date            25366 non-null  datetime64[ns]
 21  money_back_date             24106 non-null  datetime64[ns]
 22  reimbursement_date          32092 non-null  datetime64[ns]
 23  paid_at                     15529 non-null  datetime64[ns]
 24  charge_moment               21055 non-null  object
 25  moderated_at                21757 non-null  datetime64[ns]
 26  reason                      21055 non-null  object
 27  category                    21055 non-null  object
 28  from_date                   7765 non-null   datetime64[ns]
 29  to_date                     7765 non-null   datetime64[ns]
 30  recovery_status             32092 non-null  object
 31  updated_at                  32092 non-null  datetime64[ns]
 32  reco_creation               7199 non-null   datetime64[ns]
 33  reco_last_update            7199 non-null   datetime64[ns]
 34  updated_at_fe               21055 non-null  datetime64[ns]
 35  Mes_created_at              32092 non-null  period[M]
 36  cash_request_received_date  24147 non-null  datetime64[ns]
 37  n_fees                      32092 non-null  int64
 38  n_backs                     32092 non-null  int64
 39  created_at_slot             32092 non-null  object
 40  created_at_slot_h           32092 non-null  object
 41  created_at_dow              32092 non-null  int32
 42  good_user                   32092 non-null  bool
dtypes: bool(1), datetime64[ns](15), float64(3), int32(1), int64(6), object(10), period[M](1), timedelta64[ns](6)
memory usage: 10.2+ MB

In [2]:
cohort_analysis_2 = (
    df_jo.query('stat_fe == "accepted" | stat_cr == "money_back"')
        .groupby(['user_id', 'Mes_created_at'], as_index=False)
        .agg(
            # #total_paid_fees=('fee', 'sum'),            
            # #Num_Solicitudes=('id_cr', 'nunique')
            # #Num_Solicitudes=('id_cr', lambda x: x.unique().sum())
            # Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())

            total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),            
            # Contar los valores únicos de 'stat_cr' donde su valor sea 'money_back'
            total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),
            # Contar los valores únicos de 'id_cr' donde 'stat_cr' es igual a 'money_back'
            Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())
        )
)
# Restablecer el índice para un DataFrame limpio (opcional, ya garantizado por as_index=False)
cohort_analysis_2.reset_index(drop=True, inplace=True)

# Calcular el índice como porcentaje entre 'total_paid_fees' y 'total_paid_cr'
cohort_analysis_2['index'] = (
    cohort_analysis_2['total_paid_fees'] / cohort_analysis_2['total_paid_cr'] ) * 100

# Reemplazar valores 'inf' con 0 para manejar divisiones por cero
cohort_analysis_2['index'] = cohort_analysis_2['index'].replace(np.inf, 0)

# Calcular la fecha del último pedido por usuario a partir del DataFrame original
df_jo['created_at'] = pd.to_datetime(df_jo['created_at'])  # Asegurarse de que el formato sea datetime
last_order_per_user = (
    df_jo.groupby('user_id')['created_at']
    .max()  # Obtener la fecha más reciente de pedido para cada usuario
    .dt.to_period('M')  # Convertir a periodo mensual
    .reset_index()  # Restablecer el índice para facilitar el merge
)

# Incorporar la fecha del último pedido en el DataFrame de análisis de cohortes
cohort_analysis_2 = pd.merge(
    cohort_analysis_2,
    last_order_per_user.rename(columns={'created_at': 'last_order'}),
    on='user_id',
    how='left'
)

display(cohort_analysis_2.head(5))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
0,47,2020-04,0.0,100.0,1,0.000000,2020-10
1,47,2020-05,5.0,10.0,1,50.000000,2020-10
2,47,2020-08,10.0,10.0,1,100.000000,2020-10
3,47,2020-09,5.0,5.0,1,100.000000,2020-10
4,47,2020-10,10.0,6.0,2,166.666667,2020-10

In [5]:
df = pm.df('df_jo')
timeFormat ='s' #D
df['created_at'] = df['created_at'].dt.to_period(timeFormat) #'Min')
df['created_at_fe'] = df['created_at_fe'].dt.to_period(timeFormat) #'Min')
df['updated_at'] = df['updated_at'].dt.to_period(timeFormat) #'Min')
#df['to_receive_ini'] = df['to_receive_ini'].timedelta(seconds=math.ceil(df['to_receive_ini'].total_seconds()))
df['to_receive_ini'] = pd.to_timedelta(df['to_receive_ini']).round(timeFormat)
df['to_receive_bank'] = pd.to_timedelta(df['to_receive_bank']).round(timeFormat)
df['to_reimbur'] = pd.to_timedelta(df['to_reimbur']).round(timeFormat)
df['to_reimbur_cash'] = pd.to_timedelta(df['to_reimbur_cash']).round(timeFormat)
df['to_end'] = pd.to_timedelta(df['to_end']).round(timeFormat)
df['to_send'] = pd.to_timedelta(df['to_send']).round(timeFormat)
df['money_back_date'] = df['money_back_date'].dt.to_period(timeFormat)
df['send_at'] = df['send_at'].dt.to_period(timeFormat)
df['paid_at'] = df['paid_at'].dt.to_period(timeFormat)
df['moderated_at'] = df['moderated_at'].dt.to_period(timeFormat)
df['from_date'] = df['from_date'].dt.to_period(timeFormat)
df['to_date'] = df['to_date'].dt.to_period(timeFormat)

fields = ['id_cr','created_at','transfer_type','type','stat_cr' ,'amount','fee','n_fees','n_backs',
          'stat_fe','id_fe','created_at_fe','updated_at_fe','reason','money_back_date', 'reimbursement_date',
          'to_reimbur','from_date','to_date', 'charge_moment' # 'paid_at', 'to_end',, #,'user_id', 'cr_received_date','recovery_status'
          #'to_receive_ini','to_receive_bank' #,'to_reimbur_cash', 'updated_at', 'to_send','send_at','moderated_at'
]

user_id = 19655 #21465 (el mateix user_id te dos categories diferents al good user) #14631 (totes malament) #19655 (la primera malament despres tot be) 
#display(cohort_analysis_2[cohort_analysis_2.user_id == user_id])
pd.options.display.max_columns = None
display(df_jo[df_jo.user_id == user_id])

,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status,updated_at,reco_creation,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,n_fees,n_backs,created_at_slot,created_at_slot_h,created_at_dow,good_user
5023,4686,0,NaN,19655,1,2020-06-22 17:40:03.412270,NaT,100.0,NaN,rejected,cr_regular,regular,nice,NaT,NaT,14 days 04:19:56.587730,NaT,NaT,NaT,NaT,NaT,NaT,2020-07-06 22:00:00.000,NaT,NaN,2020-06-23 10:29:41.571592,NaN,NaN,NaT,NaT,nice,2020-06-30 13:59:11.962802,NaT,NaT,NaT,2020-06,NaT,0,0,14,17-Tarde,0,False
6004,5985,0,NaN,19655,1,2020-06-30 15:22:34.822037,NaT,100.0,NaN,money_back,cr_regular,regular,nice,1 days 08:37:25.177963,NaT,35 days 06:37:25.177963,NaT,0 days 00:00:00,NaT,NaT,2020-07-02,2020-08-04 22:00:00.000000,2020-08-04 22:00:00.000,NaT,NaN,2020-06-30 16:55:43.660639,NaN,NaN,NaT,NaT,nice,2020-12-18 13:09:17.207778,NaT,NaT,NaT,2020-06,2020-07-02,0,1,14,15-Tarde,1,True
18501,15904,0,NaN,19655,1,2020-09-12 19:23:14.091080,NaT,100.0,NaN,money_back,cr_regular,regular,nice,9 days 04:36:45.908920,2 days 04:36:45.952007,24 days 02:36:45.908920,17 days 02:36:45.952007,-1 days +02:02:25.446652,6 days 23:59:59.956913,2020-09-19 19:23:14.047993,2020-09-22,2020-10-07 19:57:34.553348,2020-10-06 22:00:00.000,NaT,NaN,2020-09-13 11:30:46.611801,NaN,NaN,NaT,NaT,nice,2020-12-18 13:11:32.891243,NaT,NaT,NaT,2020-09,2020-09-22,0,2,14,19-Tarde,5,True
24822,20512,0,NaN,19655,1,2020-10-11 21:26:49.118189,NaT,100.0,NaN,money_back,cr_regular,regular,nice,8 days 02:33:10.881811,1 days 02:33:10.884009,14 days 23:56:10.378811,7 days 23:56:10.381009,-4 days +22:22:59.497000,6 days 23:59:59.997802,2020-10-18 21:26:49.115991,2020-10-20,2020-10-29 23:00:00.000000,2020-10-26 21:22:59.497,NaT,NaN,NaT,NaN,NaN,NaT,NaT,nice,2020-12-18 13:10:09.153745,NaT,NaT,NaT,2020-10,2020-10-20,0,3,21,21-Noche,6,True

In [10]:
df_jo[df_jo['user_id']==19655]

,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status,updated_at,reco_creation,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,n_fees,n_backs,created_at_slot,created_at_slot_h,created_at_dow,good_user
5023,4686,0,NaN,19655,1,2020-06-22 17:40:03.412270,NaT,100.0,NaN,rejected,NaN,regular,nice,NaT,NaT,14 days 04:19:56.587730,NaT,NaT,NaT,NaT,NaT,NaT,2020-07-06 22:00:00.000,NaT,NaN,2020-06-23 10:29:41.571592,NaN,NaN,NaT,NaT,nice,2020-06-30 13:59:11.962802,NaT,NaT,NaT,2020-06,NaT,0,0,14,17-Tarde,0,False
6004,5985,0,NaN,19655,1,2020-06-30 15:22:34.822037,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 08:37:25.177963,NaT,35 days 06:37:25.177963,NaT,0 days 00:00:00,NaT,NaT,2020-07-02,2020-08-04 22:00:00.000000,2020-08-04 22:00:00.000,NaT,NaN,2020-06-30 16:55:43.660639,NaN,NaN,NaT,NaT,nice,2020-12-18 13:09:17.207778,NaT,NaT,NaT,2020-06,2020-07-02,0,1,14,15-Tarde,1,False
18501,15904,0,NaN,19655,1,2020-09-12 19:23:14.091080,NaT,100.0,NaN,money_back,NaN,regular,nice,9 days 04:36:45.908920,2 days 04:36:45.952007,24 days 02:36:45.908920,17 days 02:36:45.952007,-1 days +02:02:25.446652,6 days 23:59:59.956913,2020-09-19 19:23:14.047993,2020-09-22,2020-10-07 19:57:34.553348,2020-10-06 22:00:00.000,NaT,NaN,2020-09-13 11:30:46.611801,NaN,NaN,NaT,NaT,nice,2020-12-18 13:11:32.891243,NaT,NaT,NaT,2020-09,2020-09-22,0,2,14,19-Tarde,5,False
24822,20512,0,NaN,19655,1,2020-10-11 21:26:49.118189,NaT,100.0,NaN,money_back,NaN,regular,nice,8 days 02:33:10.881811,1 days 02:33:10.884009,14 days 23:56:10.378811,7 days 23:56:10.381009,-4 days +22:22:59.497000,6 days 23:59:59.997802,2020-10-18 21:26:49.115991,2020-10-20,2020-10-29 23:00:00.000000,2020-10-26 21:22:59.497,NaT,NaN,NaT,NaN,NaN,NaT,NaT,nice,2020-12-18 13:10:09.153745,NaT,NaT,NaT,2020-10,2020-10-20,0,3,21,21-Noche,6,False