## Estructura de los Datos

### Cash_Request (CR)

##### CR.Status (23970 registros)

- **money_back**: 16397 registros. El CR fue reembolsado exitosamente.(The CR was successfully reimbursed.)
---
- **active**: 59 registros. Los fondos fueron recibidos en la cuenta del cliente. (Funds were received on the customer account.)
- **direct_debit_sent**: 34 registros. Se envió un débito directo SEPA, pero aún no se confirma el resultado. (We sent/scheduled a SEPA direct debit to charge the customer account. The result of this debit is not yet confirmed)
---
- **rejected**: 6568 registros. El CR necesitó una revisión manual y fue rechazado. (The CR needed a manual review and was rejected)
- **direct_debit_rejected**: 831 registros. El intento de débito directo SEPA falló. (Our last attempt of SEPA direct debit to charge the customer was rejected )
- **transaction_declined**: 48 registros. No se pudo enviar el dinero al cliente. (We failed to send the funds to the customer) 
- **canceled**: 33 registros. El usuario no confirmó el CR en la app, fue cancelado automáticamente. (The user didn't confirm the cash request in-app, we automatically canceled it)

---
**En los datos proporcionados, NO aparecen los valores:** 
- approved : CR is a 'regular' one (= without fees) and was approved either automatically or manually. Funds will be sent aprox. 7 days after the creation
- money_sent : We transferred the fund to the customer account. Will change to active once we detect that the user received the funds (using user's bank history)
- pending : The CR is pending a manual review from an analyst
- waiting_user_confirmation : The user needs to confirm in-app that he want the CR (for legal reasons)
- waiting_reimbursement : We were not able to estimate a date of reimbursement, the user needs to choose one in the app.


##### CR.Transfer Type

- **instant**: El usuario eligió recibir el adelanto instantáneamente. (user choose not received the advance instantly)
- **regular**: El usuario eligió no pagar inmediatamente y esperar la transferencia. (user choose to not pay and wait for the transfer)


##### CR.Recovery Status

- **null**: El CR nunca tuvo un incidente de pago.
- **completed**: El incidente de pago fue resuelto (el CR fue reembolsado).
---
- **pending**: El incidente de pago aún está abierto.
- **pending_direct_debit**: El incidente de pago sigue abierto, pero se ha lanzado un débito directo SEPA.


### Fees (FE)

##### FE.Type

- **instant_payment**: Fees por adelanto instantáneo. (fees for instant cash request (send directly after user's request, through SEPA Instant Payment) )
- **split_payment**: Fees por pago fraccionado (en caso de un incidente). (futures fees for split payment (in case of an incident, we'll soon offer the possibility to our users to reimburse in multiples installements))
- **incident**: Fees por fallos de reembolsos. (fees for failed reimbursement. Created after a failed direct debit)
- **postpone**: Fees por la solicitud de posponer un reembolso. (fees created when a user want to postpone the reimbursment of a CR)

##### FE.Status (= does the fees was successfully charged)

- **accepted**: El fee fue cobrado exitosamente. (fees were successfully charged)
- **confirmed**: El usuario completó una acción que creó un fee. (the user made an action who created a fee. It will normally get charged at the moment of the CR's reimbursement. In some rare cases, postpones are confirmed without being charges due to a commercial offer.)
---
- **rejected**: El último intento de cobrar el fee falló. (the last attempt to charge the fee failed.)
- **cancelled**: El fee fue creado pero cancelado por algún motivo. (fee was created and cancelled for some reasons. It's used to fix issues with fees but it mainly concern postpone fees who failed. We are charging the fees at the moment of the postpone request. If it failed, the postpone is not accepted and the reimbursement date still the same.)

##### FE.Category

- **rejected_direct_debit**: Fees creados cuando el banco del usuario rechaza el primer débito directo. (fees created when user's bank rejects the first direct debit)
- **month_delay_on_payment**: Fees creados cada mes hasta que el incidente se cierre. (fees created every month until the incident is closed)
---
- **null**: No figura a la documentacio

##### FE.paid_at:	

- Timestamp of the fee's payment

##### FE.charge_moment (When the fee will be charge).

- **before**: El fee se cobra en el momento de su creación. (the fee should be charged at the moment of its creation)
- **after**: El fee se cobra cuando el CR es reembolsado. (the fee should be charged at the moment of the CR's reimbursement)

##### FE.total_amount

- Amount of the fee (including VAT)

## Casos

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import itertools # Importando itertools para generar combinaciones de columnas
# Importando la función seasonal_decompose para la descomposición de series temporales
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.patches as mpatches
import payments_manager as pm
#pm.help()
#pm.reset()
#pm.init() #debug=True)
cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')
#cr_cp.info()
#fe_cp.info()

df_jo = pm.df('df_jo')
#df_jo.info()
df_jo = pm.sort("df_jo", ["id_cr"]).reset_index()
df_jo = df_jo.drop(columns=['index'])

#df_jo = df_jo.drop(columns=['Mes_created_at'])
df_jo_cp = df_jo.copy()
df_jo_cp['cr_received_date'] = df_jo_cp.cash_request_received_date
#df_jo.info()

In [ ]:
good_cr = ['approved', 'money_sent', 'pending', 'direct_debit_sent', 'active', 'money_back']
good_fe = ['confirmed', 'accepted']
df_jo['good'] = (df_jo['stat_cr'].isin(good_cr)) & (df_jo['stat_fe'].isin(good_fe))

In [5]:
display(df_jo[df_jo.user_id ==2002].reset_index().head(10))

,index,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,...,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,n_fees,n_backs,created_at_slot,created_at_slot_h,created_at_dow,good
0,356,423,0,NaN,2002,1,2020-01-10 10:55:20.757139,NaT,100.0,NaN,...,NaT,NaT,2020-01,2020-01-14,0,1,7,10-Mañana,4,False
1,627,697,0,NaN,2002,1,2020-02-18 16:36:51.249037,NaT,100.0,NaN,...,NaT,NaT,2020-02,2020-02-19,0,2,14,16-Tarde,1,False
2,762,835,0,NaN,2002,1,2020-03-10 07:47:39.337041,NaT,100.0,NaN,...,NaT,NaT,2020-03,2020-03-11,0,3,7,7-Mañana,1,False
3,1098,1172,0,NaN,2002,1,2020-04-14 21:03:09.519326,NaT,100.0,NaN,...,NaT,NaT,2020-04,2020-04-15,0,4,21,21-Noche,1,False
4,1741,1800,0,NaN,2002,1,2020-05-15 04:09:51.091889,NaT,100.0,NaN,...,NaT,NaT,2020-05,2020-05-15,0,5,21,4-Noche,4,False
5,3171,2949,0,NaN,2002,1,2020-06-10 23:34:13.556501,NaT,100.0,NaN,...,NaT,NaT,2020-06,2020-06-13,0,6,21,23-Noche,2,False
6,8381,8177,1977,8177.0,2002,1,2020-07-15 13:17:11.174285,2020-07-25 19:20:00.560197,100.0,5.0,...,NaT,2020-10-13 14:25:04.227093,2020-07,2020-07-18,3,10,7,13-Mañana,2,True
7,8382,8177,1749,8177.0,2002,1,2020-07-15 13:17:11.174285,2020-07-22 01:33:56.400884,100.0,5.0,...,NaT,2020-10-13 14:25:00.882490,2020-07,2020-07-18,1,8,7,13-Mañana,2,True
8,8383,8177,1674,8177.0,2002,1,2020-07-15 13:17:11.174285,2020-07-20 20:43:33.629841,100.0,5.0,...,NaT,2020-10-13 14:25:15.265408,2020-07,2020-07-18,0,7,7,13-Mañana,2,False
9,8384,8177,1839,8177.0,2002,1,2020-07-15 13:17:11.174285,2020-07-23 11:31:44.836318,100.0,5.0,...,NaT,2020-10-13 14:25:02.005106,2020-07,2020-07-18,2,9,7,13-Mañana,2,True

In [4]:
pd.options.display.max_rows = None
df = pm.df('df_jo')
#df.info()

df_cr = pm.df('cr_cp')
df_cr.info()

grouped_counts = df.groupby(
    ['id_cr']).size().reset_index(name='counts').sort_values(
    by=['counts'], ascending=[False]).reset_index(drop=True)
grouped_counts.info()
display(grouped_counts.head(10))


grouped_counts = df.groupby(
    ['id_cr','user_id','stat_fe','stat_cr', 'transfer_type', 'type']).size().reset_index(name='counts').sort_values(
    by=['counts'], ascending=[False]).reset_index(drop=True)
grouped_counts.info()
display(grouped_counts.head(10))

grouped_counts = df.query('stat_fe == "accepted" & stat_cr == "money_back"').groupby(
    ['id_cr','user_id','stat_fe','stat_cr', 'type']).size().reset_index(name='counts').sort_values(
    by=['counts'], ascending=[False]).reset_index(drop=True)
#display(grouped_counts.head(10))


grouped_counts = df.query('stat_fe == "accepted" & stat_cr != "money_back"').groupby(
    ['id_cr','user_id','stat_fe','stat_cr', 'type']).size().reset_index(name='counts').sort_values(
    by=['counts'], ascending=[False]).reset_index(drop=True)
grouped_counts.info()
#display(grouped_counts.head(10))

<class 'pandas.core.frame.DataFrame'>
Index: 23968 entries, 0 to 23969
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23968 non-null  int64
 1   amount                      23968 non-null  float64
 2   status                      23968 non-null  object
 3   created_at                  23968 non-null  datetime64[ns]
 4   updated_at                  23968 non-null  datetime64[ns]
 5   user_id                     23968 non-null  int64
 6   moderated_at                16033 non-null  datetime64[ns]
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23968 non-null  datetime64[ns]
 9   cash_request_received_date  16287 non-null  datetime64[ns]
 10  money_back_date             16541 non-null  datetime64[ns]
 11  transfer_type               23968 non-null  object
 12  send_at                     16640 non-null  datetime64[ns]
 13  recovery_status             23968 non-null  object
 14  reco_creation               3329 non-null   datetime64[ns]
 15  reco_last_update            3329 non-null   datetime64[ns]
 16  Mes_created_at              23968 non-null  period[M]
 17  to_receive_ini              16287 non-null  timedelta64[ns]
 18  to_receive_bank             11697 non-null  timedelta64[ns]
 19  to_reimbur                  23968 non-null  timedelta64[ns]
 20  to_reimbur_cash             16640 non-null  timedelta64[ns]
 21  to_end                      16541 non-null  timedelta64[ns]
 22  to_send                     16640 non-null  timedelta64[ns]
dtypes: datetime64[ns](9), float64(2), int64(2), object(3), period[M](1), timedelta64[ns](6)
memory usage: 4.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23968 entries, 0 to 23967
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id_cr   23968 non-null  int64
 1   counts  23968 non-null  int64
dtypes: int64(2)
memory usage: 374.6 KB

   id_cr  counts
0  12225      35
1   5006      28
2   4410      24
3  12452      23
4  11376      21
5   2358      19
6  11746      17
7  15319      16
8   8713      15
9  11968      15

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17444 entries, 0 to 17443
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_cr          17444 non-null  int64
 1   user_id        17444 non-null  int64
 2   stat_fe        17444 non-null  object
 3   stat_cr        17444 non-null  object
 4   transfer_type  17444 non-null  object
 5   type           17444 non-null  object
 6   counts         17444 non-null  int64
dtypes: int64(3), object(4)
memory usage: 954.1+ KB

,id_cr,user_id,stat_fe,stat_cr,transfer_type,type,counts
0,12225,16391,cancelled,money_back,instant,postpone,33
1,5006,15593,cancelled,money_back,regular,postpone,23
2,4410,99007731,cancelled,money_back,regular,postpone,22
3,12452,23823,cancelled,money_back,instant,postpone,18
4,11376,528,cancelled,money_back,instant,postpone,18
5,2358,11648,cancelled,money_back,regular,postpone,17
6,11746,21934,cancelled,money_back,instant,postpone,15
7,15319,10568,cancelled,active,instant,postpone,15
8,8713,99021706,cancelled,money_back,regular,postpone,14
9,4956,99004558,cancelled,direct_debit_rejected,regular,postpone,14

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298 entries, 0 to 297
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id_cr    298 non-null    int64
 1   user_id  298 non-null    int64
 2   stat_fe  298 non-null    object
 3   stat_cr  298 non-null    object
 4   type     298 non-null    object
 5   counts   298 non-null    int64
dtypes: int64(3), object(3)
memory usage: 14.1+ KB

In [4]:
# Pre-filtrar el dataframe para simplificar cálculos
df_filtered = df_jo[
    (df_jo['stat_fe'] == "accepted") | (df_jo['stat_cr'] == "money_back")
]

# Agregar columnas auxiliares para evitar cálculos repetitivos
df_filtered['accepted_fee'] = df_filtered.apply(
    lambda row: row['fee'] if row['stat_fe'] == "accepted" else 0, axis=1
)
df_filtered['money_back_amount'] = df_filtered.apply(
    lambda row: row['amount'] if row['stat_cr'] == "money_back" else 0, axis=1
)
df_filtered['money_back_id'] = df_filtered.apply(
    lambda row: row['id_cr'] if row['stat_cr'] == "money_back" else None, axis=1
)

# Agrupamiento optimizado
cohort_analysis_2 = df_filtered.groupby(['user_id', 'Mes_created_at'], as_index=False).agg(
    total_paid_fees=('accepted_fee', 'sum'),
    total_paid_cr=('money_back_amount', 'sum'),
    Num_Solicitudes=('money_back_id', 'nunique')
)

/tmp/ipykernel_259809/1991862846.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['accepted_fee'] = df_filtered.apply(
/tmp/ipykernel_259809/1991862846.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['money_back_amount'] = df_filtered.apply(
/tmp/ipykernel_259809/1991862846.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['money_back_id'] = df_filtered.apply(

In [10]:
cohort_analysis_2 = (
    df_jo.query('stat_fe == "accepted" | stat_cr == "money_back"')
        .groupby(['user_id', 'Mes_created_at'], as_index=False)
        .agg(
            total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),            
            # Contar los valores únicos de 'stat_cr' donde su valor sea 'money_back'
            total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),
            # Contar los valores únicos de 'id_cr' donde 'stat_cr' es igual a 'money_back'
            Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())
        )
)

In [11]:
display(cohort_analysis_2.head(5))

   user_id Mes_created_at  total_paid_fees  total_paid_cr  Num_Solicitudes
0       47        2020-04              0.0          100.0                1
1       47        2020-05              5.0           10.0                1
2       47        2020-08             10.0           10.0                1
3       47        2020-09              5.0            5.0                1
4       47        2020-10             10.0            6.0                2

In [9]:
cohort_analysis_2 = (
    df_jo.query('stat_fe == "accepted" | stat_cr == "money_back"')
        .groupby(['user_id', 'Mes_created_at'], as_index=False)
        .agg(
            # #total_paid_fees=('fee', 'sum'),            
            # #Num_Solicitudes=('id_cr', 'nunique')
            # #Num_Solicitudes=('id_cr', lambda x: x.unique().sum())
            # Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())

            total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),            
            # Contar los valores únicos de 'stat_cr' donde su valor sea 'money_back'
            total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),
            # Contar los valores únicos de 'id_cr' donde 'stat_cr' es igual a 'money_back'
            Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())
        )
)
# Restablecer el índice para un DataFrame limpio (opcional, ya garantizado por as_index=False)
cohort_analysis_2.reset_index(drop=True, inplace=True)

# Calcular el índice como porcentaje entre 'total_paid_fees' y 'total_paid_cr'
cohort_analysis_2['index'] = (
    cohort_analysis_2['total_paid_fees'] / cohort_analysis_2['total_paid_cr'] ) * 100

# Reemplazar valores 'inf' con 0 para manejar divisiones por cero
cohort_analysis_2['index'] = cohort_analysis_2['index'].replace(np.inf, 0)

# Calcular la fecha del último pedido por usuario a partir del DataFrame original
df_jo['created_at'] = pd.to_datetime(df_jo['created_at'])  # Asegurarse de que el formato sea datetime
last_order_per_user = (
    df_jo.groupby('user_id')['created_at']
    .max()  # Obtener la fecha más reciente de pedido para cada usuario
    .dt.to_period('M')  # Convertir a periodo mensual
    .reset_index()  # Restablecer el índice para facilitar el merge
)

# Incorporar la fecha del último pedido en el DataFrame de análisis de cohortes
cohort_analysis_2 = pd.merge(
    cohort_analysis_2,
    last_order_per_user.rename(columns={'created_at': 'last_order'}),
    on='user_id',
    how='left'
)

display(cohort_analysis_2.head(5))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
0,47,2020-04,0.0,100.0,1,0.000000,2020-10
1,47,2020-05,5.0,10.0,1,50.000000,2020-10
2,47,2020-08,10.0,10.0,1,100.000000,2020-10
3,47,2020-09,5.0,5.0,1,100.000000,2020-10
4,47,2020-10,10.0,6.0,2,166.666667,2020-10

In [15]:
# Pre-filtrar el dataframe para simplificar cálculos
df_filtered = df_jo[
    (df_jo['stat_fe'] == "accepted") | (df_jo['stat_cr'] == "money_back")
]

# Agregar columnas auxiliares para evitar cálculos repetitivos
df_filtered['accepted_fee'] = df_filtered.apply(
    lambda row: row['fee'] if row['stat_fe'] == "accepted" else 0, axis=1
)
df_filtered['money_back_amount'] = df_filtered.apply(
    lambda row: row['amount'] if row['stat_cr'] == "money_back" else 0, axis=1
)
df_filtered['money_back_id'] = df_filtered.apply(
    lambda row: row['id_cr'] if row['stat_cr'] == "money_back" else None, axis=1
)

# Agrupamiento optimizado
cohort_analysis_2 = df_filtered.groupby(['user_id', 'Mes_created_at'], as_index=False).agg(
    total_paid_fees=('accepted_fee', 'sum'),
    total_paid_cr=('money_back_amount', 'sum'),
    Num_Solicitudes=('money_back_id', 'nunique')
)

# Restablecer el índice para un DataFrame limpio (opcional, ya garantizado por as_index=False)
cohort_analysis_2.reset_index(drop=True, inplace=True)

# Calcular el índice como porcentaje entre 'total_paid_fees' y 'total_paid_cr'
cohort_analysis_2['index'] = (
    cohort_analysis_2['total_paid_fees'] / cohort_analysis_2['total_paid_cr'] ) * 100

# Reemplazar valores 'inf' con 0 para manejar divisiones por cero
cohort_analysis_2['index'] = cohort_analysis_2['index'].replace(np.inf, 0)

# Calcular la fecha del último pedido por usuario a partir del DataFrame original
df_jo['created_at'] = pd.to_datetime(df_jo['created_at'])  # Asegurarse de que el formato sea datetime
last_order_per_user = (
    df_jo.groupby('user_id')['created_at']
    .max()  # Obtener la fecha más reciente de pedido para cada usuario
    .dt.to_period('M')  # Convertir a periodo mensual
    .reset_index()  # Restablecer el índice para facilitar el merge
)

# Incorporar la fecha del último pedido en el DataFrame de análisis de cohortes
cohort_analysis_2 = pd.merge(
    cohort_analysis_2,
    last_order_per_user.rename(columns={'created_at': 'last_order'}),
    on='user_id',
    how='left'
)

display(cohort_analysis_2.head(5))

/tmp/ipykernel_259809/3396134713.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['accepted_fee'] = df_filtered.apply(
/tmp/ipykernel_259809/3396134713.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['money_back_amount'] = df_filtered.apply(
/tmp/ipykernel_259809/3396134713.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['money_back_id'] = df_filtered.apply(

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
0,47,2020-04,0.0,100.0,1,0.000000,2020-10
1,47,2020-05,5.0,50.0,1,10.000000,2020-10
2,47,2020-08,10.0,20.0,1,50.000000,2020-10
3,47,2020-09,5.0,5.0,1,100.000000,2020-10
4,47,2020-10,10.0,6.0,2,166.666667,2020-10

In [16]:
display(cohort_analysis_2[cohort_analysis_2.user_id == 102105])

display(cohort_analysis_2[cohort_analysis_2.user_id == 16391])
display(cohort_analysis_2[cohort_analysis_2.user_id == 2002])
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851])
display(cohort_analysis_2[cohort_analysis_2.user_id == 1987]) #.tail(60))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
15482,102105,2020-10,0.0,100.0,1,0.0,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
5421,16391,2020-06,5.0,100.0,1,5.000000,2020-10
5422,16391,2020-08,10.0,3500.0,1,0.285714,2020-10
5423,16391,2020-10,5.0,100.0,1,5.000000,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
747,2002,2020-01,0.0,100.0,1,0.00,2020-10
748,2002,2020-02,0.0,100.0,1,0.00,2020-10
749,2002,2020-03,0.0,100.0,1,0.00,2020-10
750,2002,2020-04,0.0,100.0,1,0.00,2020-10
751,2002,2020-05,0.0,100.0,1,0.00,2020-10
752,2002,2020-06,0.0,100.0,1,0.00,2020-10
753,2002,2020-07,15.0,400.0,1,3.75,2020-10
754,2002,2020-08,0.0,100.0,1,0.00,2020-10
755,2002,2020-09,0.0,100.0,1,0.00,2020-10
756,2002,2020-10,5.0,100.0,1,5.00,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
4640,13851,2020-08,5.0,550.0,2,0.909091,2020-10
4641,13851,2020-10,5.0,100.0,1,5.000000,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
733,1987,2019-12,0.0,100.0,1,0.000000,2020-10
734,1987,2020-01,0.0,100.0,1,0.000000,2020-10
735,1987,2020-02,0.0,100.0,1,0.000000,2020-10
736,1987,2020-03,0.0,100.0,1,0.000000,2020-10
737,1987,2020-04,0.0,100.0,1,0.000000,2020-10
738,1987,2020-05,0.0,100.0,1,0.000000,2020-10
739,1987,2020-06,10.0,200.0,1,5.000000,2020-10
740,1987,2020-08,15.0,300.0,1,5.000000,2020-10
741,1987,2020-10,10.0,300.0,2,3.333333,2020-10

In [7]:
display(cohort_analysis_2[cohort_analysis_2.user_id == 102105])

display(cohort_analysis_2[cohort_analysis_2.user_id == 16391])
display(cohort_analysis_2[cohort_analysis_2.user_id == 2002])
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851])
display(cohort_analysis_2[cohort_analysis_2.user_id == 1987]) #.tail(60))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
15482,102105,2020-10,0.0,100.0,1,0.0,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
5421,16391,2020-06,5.0,100.0,1,5.0,2020-10
5422,16391,2020-08,10.0,100.0,1,10.0,2020-10
5423,16391,2020-10,5.0,100.0,1,5.0,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
747,2002,2020-01,0.0,100.0,1,0.0,2020-10
748,2002,2020-02,0.0,100.0,1,0.0,2020-10
749,2002,2020-03,0.0,100.0,1,0.0,2020-10
750,2002,2020-04,0.0,100.0,1,0.0,2020-10
751,2002,2020-05,0.0,100.0,1,0.0,2020-10
752,2002,2020-06,0.0,100.0,1,0.0,2020-10
753,2002,2020-07,15.0,100.0,1,15.0,2020-10
754,2002,2020-08,0.0,100.0,1,0.0,2020-10
755,2002,2020-09,0.0,100.0,1,0.0,2020-10
756,2002,2020-10,5.0,100.0,1,5.0,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
4640,13851,2020-08,5.0,150.0,2,3.333333,2020-10
4641,13851,2020-10,5.0,100.0,1,5.000000,2020-10

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,index,last_order
733,1987,2019-12,0.0,100.0,1,0.0,2020-10
734,1987,2020-01,0.0,100.0,1,0.0,2020-10
735,1987,2020-02,0.0,100.0,1,0.0,2020-10
736,1987,2020-03,0.0,100.0,1,0.0,2020-10
737,1987,2020-04,0.0,100.0,1,0.0,2020-10
738,1987,2020-05,0.0,100.0,1,0.0,2020-10
739,1987,2020-06,10.0,100.0,1,10.0,2020-10
740,1987,2020-08,15.0,100.0,1,15.0,2020-10
741,1987,2020-10,10.0,100.0,2,10.0,2020-10

In [8]:
pd.options.display.max_rows = None
tops = df_jo[df_jo['stat_cr' ]== 'money_back'].groupby('user_id').agg(fees=('fee','sum'))
tops = df_jo[df_jo['stat_fe'] == 'accepted'  ].groupby('user_id').agg(fees=('fee','sum'))
#display(df_jo[tops])
top_users = tops.sort_values(by='fees', ascending=False).iloc[:10].reset_index()
display(top_users)
#top_users = tops.sort_values(by='fees', ascending=True).iloc[:10]
#display(top_users)

#display(df_jo[top_users])

    user_id  fees
0     17144  75.0
1     12934  55.0
2      4982  35.0
3  99021532  35.0
4      4636  35.0
5      5189  35.0
6      4317  35.0
7     13404  35.0
8      9199  35.0
9     17603  35.0

In [6]:
df = pm.df('df_jo')
timeFormat ='S' #D
df['created_at'] = df['created_at'].dt.to_period(timeFormat) #'Min')
df['created_at_fe'] = df['created_at_fe'].dt.to_period(timeFormat) #'Min')
df['updated_at'] = df['updated_at'].dt.to_period(timeFormat) #'Min')
#df['to_receive_ini'] = df['to_receive_ini'].timedelta(seconds=math.ceil(df['to_receive_ini'].total_seconds()))
df['to_receive_ini'] = pd.to_timedelta(df['to_receive_ini']).round(timeFormat)
df['to_receive_bank'] = pd.to_timedelta(df['to_receive_bank']).round(timeFormat)
df['to_reimbur'] = pd.to_timedelta(df['to_reimbur']).round(timeFormat)
df['to_reimbur_cash'] = pd.to_timedelta(df['to_reimbur_cash']).round(timeFormat)
df['to_end'] = pd.to_timedelta(df['to_end']).round(timeFormat)
df['to_send'] = pd.to_timedelta(df['to_send']).round(timeFormat)
df['money_back_date'] = df['money_back_date'].dt.to_period(timeFormat)
df['send_at'] = df['send_at'].dt.to_period(timeFormat)
df['paid_at'] = df['paid_at'].dt.to_period(timeFormat)
df['moderated_at'] = df['moderated_at'].dt.to_period(timeFormat)
df['from_date'] = df['from_date'].dt.to_period(timeFormat)
df['to_date'] = df['to_date'].dt.to_period(timeFormat)

fields = ['id_cr','created_at','transfer_type','type','stat_cr' ,'amount','fee','n_fees','n_backs','good_user',
          'stat_fe','id_fe','created_at_fe','updated_at_fe','reason','money_back_date', 'reimbursement_date',
          'to_reimbur','from_date','to_date', 'charge_moment' # 'paid_at', 'to_end',, #,'user_id', 'cr_received_date','recovery_status'
          #'to_receive_ini','to_receive_bank' #,'to_reimbur_cash', 'updated_at', 'to_send','send_at','moderated_at'
]

user_id = 2002# 16391 # 2002, 1987, 13851, 16391, 102105
display(cohort_analysis_2[cohort_analysis_2.user_id == user_id])

#print("Casos segun Cash Request ID")
pd.options.display.max_columns = None
for id in ([-8177]): # 16391 20108, 20104, 20112,
    df_t = df[df['id_cr'] == id].sort_values(['created_at','created_at_fe']).reset_index()
    print(f"Cash Request ID: {id}")
    display(df_t[fields])

user_ids = [user_id] 
pd.options.display.max_columns = None
#print("Casos segun Cash User ID")
for id in (user_ids):
    df_t = df[(df['user_id'] == id)]#.reset_index()
    df_t = df_t[df_t['stat_cr'] == 'money_back']
    df_t = df_t[df_t['stat_fe'] == 'accepted']
    
    df_t = df_t.sort_values(['created_at','created_at_fe']).reset_index(drop=True)
    #df_t.set_index('id_cr', inplace=True)
    print(f"Only money_back - user_id {id}")
    display(df_t[fields])
    df_t = df[(df['user_id'] == id) ].sort_values(['created_at','created_at_fe']).reset_index(drop=True)

    print(f"user_id {id}")
    display(df_t[fields])

#user_ids = [13851] [2002] , 1987, 1946, 90, 526, 12934] #, 12274 54879 12441, 13851, 16391, 430,  63894,18730,10116,21465, 99000262]
# vips 12934 526
# 90 Este se esta gestionando mal: todos instant, con demoras y sin gestion por 
# 1946 Parece un ejemplo de buena gestion, al final tiene un instant y se le ha dado margen el las demoras.
# 1987 Parece un ejemplo de buen usuario, se pasa a instant para siempre.

     user_id Mes_created_at  total_paid_fees  total_paid_cr  Num_Solicitudes
747     2002        2020-01              0.0          100.0                1
748     2002        2020-02              0.0          100.0                1
749     2002        2020-03              0.0          100.0                1
750     2002        2020-04              0.0          100.0                1
751     2002        2020-05              0.0          100.0                1
752     2002        2020-06              0.0          100.0                1
753     2002        2020-07             15.0          400.0                1
754     2002        2020-08              0.0          100.0                1
755     2002        2020-09              0.0          100.0                1
756     2002        2020-10              5.0          100.0                1

Cash Request ID: -8177

Empty DataFrame
Columns: [id_cr, created_at, transfer_type, type, stat_cr, amount, fee, n_fees, n_backs, good_user, stat_fe, id_fe, created_at_fe, updated_at_fe, reason, money_back_date, reimbursement_date, to_reimbur, from_date, to_date, charge_moment]
Index: []

Only money_back - user_id 2002

,id_cr,created_at,transfer_type,type,stat_cr,amount,fee,n_fees,n_backs,good_user,stat_fe,id_fe,created_at_fe,updated_at_fe,reason,money_back_date,reimbursement_date,to_reimbur,from_date,to_date,charge_moment
0,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,1,8,True,accepted,1749,2020-07-22 01:33:56,2020-10-13 14:25:00.882490,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-04 22:00:00,2020-08-15 01:33:48,before
1,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,2,9,True,accepted,1839,2020-07-23 11:31:44,2020-10-13 14:25:02.005106,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-15 01:33:48,2020-08-30 01:33:48,before
2,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,3,10,True,accepted,1977,2020-07-25 19:20:00,2020-10-13 14:25:04.227093,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-30 01:33:48,2020-09-14 01:33:48,before
3,24248,2020-10-25 07:41:00,instant,instant_payment,money_back,100.0,5.0,4,13,True,accepted,17289,2020-10-25 07:41:49,2020-10-25 07:41:49.198245,Instant Payment Cash Request 24248,2020-11-09 19:11:48,2020-11-09 22:00:00,15 days 14:19:00,NaT,NaT,after

user_id 2002

,id_cr,created_at,transfer_type,type,stat_cr,amount,fee,n_fees,n_backs,good_user,stat_fe,id_fe,created_at_fe,updated_at_fe,reason,money_back_date,reimbursement_date,to_reimbur,from_date,to_date,charge_moment
0,423,2020-01-10 10:55:20,regular,nice,money_back,100.0,NaN,0,1,False,NaN,0,NaT,NaT,NaN,2020-02-06 23:00:00,2020-02-06 23:00:00,27 days 12:04:39,NaT,NaT,NaN
1,697,2020-02-18 16:36:51,regular,nice,money_back,100.0,NaN,0,2,False,NaN,0,NaT,NaT,NaN,2020-02-27 23:00:00,2020-02-27 23:00:00,9 days 06:23:09,NaT,NaT,NaN
2,835,2020-03-10 07:47:39,regular,nice,money_back,100.0,NaN,0,3,False,NaN,0,NaT,NaT,NaN,2020-04-14 20:25:59,2020-04-05 22:00:00,26 days 14:12:21,NaT,NaT,NaN
3,1172,2020-04-14 21:03:09,regular,nice,money_back,100.0,NaN,0,4,False,NaN,0,NaT,NaT,NaN,2020-05-14 21:05:09,2020-05-05 22:00:00,21 days 00:56:50,NaT,NaT,NaN
4,1800,2020-05-15 04:09:51,regular,nice,money_back,100.0,NaN,0,5,False,NaN,0,NaT,NaT,NaN,2020-06-10 22:17:53,2020-06-06 22:00:00,22 days 17:50:09,NaT,NaT,NaN
5,2949,2020-06-10 23:34:13,regular,nice,money_back,100.0,NaN,0,6,False,NaN,0,NaT,NaT,NaN,2020-07-07 22:00:00,2020-07-06 22:00:00,25 days 22:25:46,NaT,NaT,NaN
6,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,0,7,False,cancelled,1674,2020-07-20 20:43:33,2020-10-13 14:25:15.265408,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-04 22:00:00,2020-08-19 22:00:00,after
7,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,1,8,True,accepted,1749,2020-07-22 01:33:56,2020-10-13 14:25:00.882490,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-04 22:00:00,2020-08-15 01:33:48,before
8,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,2,9,True,accepted,1839,2020-07-23 11:31:44,2020-10-13 14:25:02.005106,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-15 01:33:48,2020-08-30 01:33:48,before
9,8177,2020-07-15 13:17:11,regular,postpone,money_back,100.0,5.0,3,10,True,accepted,1977,2020-07-25 19:20:00,2020-10-13 14:25:04.227093,Postpone Cash Request 8177,2020-08-03 09:01:41,2020-08-05 01:33:48,20 days 12:16:37,2020-08-30 01:33:48,2020-09-14 01:33:48,before
10,12818,2020-08-17 16:25:01,regular,nice,money_back,100.0,NaN,0,11,False,NaN,0,NaT,NaT,NaN,2020-09-13 22:00:00,2020-09-07 22:00:00,21 days 05:34:59,NaT,NaT,NaN
11,16332,2020-09-16 04:16:00,regular,nice,money_back,100.0,NaN,0,12,False,NaN,0,NaT,NaT,NaN,2020-10-11 22:00:00,2020-10-05 22:00:00,19 days 17:44:00,NaT,NaT,NaN
12,24248,2020-10-25 07:41:00,instant,instant_payment,money_back,100.0,5.0,4,13,True,accepted,17289,2020-10-25 07:41:49,2020-10-25 07:41:49.198245,Instant Payment Cash Request 24248,2020-11-09 19:11:48,2020-11-09 22:00:00,15 days 14:19:00,NaT,NaT,after

In [8]:
cohort_analysis_2 = (
    df_jo.groupby(['user_id', 'Mes_created_at'], as_index=False)
    .agg(
        # Sumar los valores de 'fee' donde 'stat_fe' es igual a 'accepted'
        total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),
        
        # Contar los valores únicos de 'stat_cr' donde su valor sea 'money_back'
        total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),

        # Contar los valores únicos de 'id_cr' donde 'stat_cr' es igual a 'money_back'
        Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())
    )
)

In [9]:
display(cohort_analysis_2[cohort_analysis_2.user_id == 2002]) ## 13851]) #.tail(60))

      user_id Mes_created_at  total_paid_fees  total_paid_cr  Num_Solicitudes
996      2002        2020-01              0.0          100.0                1
997      2002        2020-02              0.0          100.0                1
998      2002        2020-03              0.0          100.0                1
999      2002        2020-04              0.0          100.0                1
1000     2002        2020-05              0.0          100.0                1
1001     2002        2020-06              0.0          100.0                1
1002     2002        2020-07             15.0          100.0                1
1003     2002        2020-08              0.0          100.0                1
1004     2002        2020-09              0.0          100.0                1
1005     2002        2020-10              5.0          100.0                1

In [10]:
# Filtrar només les files necessàries per les operacions
#filtered_df = df_jo[df_jo['stat_fe'] == 'accepted']
filtered_df = df_jo.copy()

# Agregar les dades agrupades
cohort_analysis_2 = (
    filtered_df.groupby(['user_id', 'Mes_created_at'], as_index=False)
    .agg(
        #total_paid_fees=('fee', 'sum'),
        total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),
        total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),
        Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique()),
        transfer_type=('transfer_type', lambda x: ', '.join(x.unique()))  # Llista valors únics
    )
)

In [11]:
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851]) #.tail(60))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,transfer_type
5689,13851,2020-06,0.0,0.0,0,regular
5690,13851,2020-07,0.0,0.0,0,regular
5691,13851,2020-08,5.0,150.0,2,"regular, instant"
5692,13851,2020-10,5.0,100.0,1,instant

In [12]:
#cohort_analysis_3 = filtered_df.groupby(['user_id', 'Mes_created_at'])
#display(cohort_analysis_3)

In [13]:
# Restablecer el índice para un DataFrame limpio (opcional, ya garantizado por as_index=False)
cohort_analysis_2.reset_index(drop=True, inplace=True)

# Calcular el índice como porcentaje entre 'total_paid_fees' y 'total_paid_cr'
cohort_analysis_2['index'] = (
    cohort_analysis_2['total_paid_fees'] / cohort_analysis_2['total_paid_cr']
) * 100

# Reemplazar valores 'inf' con 0 para manejar divisiones por cero
cohort_analysis_2['index'] = cohort_analysis_2['index'].replace(np.inf, 0)

# Calcular la fecha del último pedido por usuario a partir del DataFrame original
df_jo['created_at'] = pd.to_datetime(df_jo['created_at'])  # Asegurarse de que el formato sea datetime
last_order_per_user = (
    df_jo.groupby('user_id')['created_at']
    .max()  # Obtener la fecha más reciente de pedido para cada usuario
    .dt.to_period('M')  # Convertir a periodo mensual
    .reset_index()  # Restablecer el índice para facilitar el merge
)

# Incorporar la fecha del último pedido en el DataFrame de análisis de cohortes
cohort_analysis_2 = pd.merge(
    cohort_analysis_2,
    last_order_per_user.rename(columns={'created_at': 'last_order'}),
    on='user_id',
    how='left'
)

# Resultado final del DataFrame de análisis de cohortes
#cohort_analysis_2
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851]) #.tail(60))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,transfer_type,index,last_order
5689,13851,2020-06,0.0,0.0,0,regular,NaN,2020-10
5690,13851,2020-07,0.0,0.0,0,regular,NaN,2020-10
5691,13851,2020-08,5.0,150.0,2,"regular, instant",3.333333,2020-10
5692,13851,2020-10,5.0,100.0,1,instant,5.000000,2020-10

In [14]:
#cohort_analysis_2.info
#cohort_analysis_2.count
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851]) #.tail(60))

,user_id,Mes_created_at,total_paid_fees,total_paid_cr,Num_Solicitudes,transfer_type,index,last_order
5689,13851,2020-06,0.0,0.0,0,regular,NaN,2020-10
5690,13851,2020-07,0.0,0.0,0,regular,NaN,2020-10
5691,13851,2020-08,5.0,150.0,2,"regular, instant",3.333333,2020-10
5692,13851,2020-10,5.0,100.0,1,instant,5.000000,2020-10

In [15]:
# Crear columna 'Cohorte' que indica el mes de la primera solicitud de cada cliente
df_jo['Cohorte'] = df_jo.groupby('user_id')['created_at'].transform('min').dt.to_period('M')
#df_jo.head(10)

In [16]:
# Agrupar los datos por cohorte y mes para calcular las métricas mensuales
cohort_analysis = df_jo.groupby(['Cohorte', 'Mes_created_at']).agg(
    Num_Clientes=('user_id', 'nunique'),  # Número de clientes únicos por cohorte y mes
    Num_Solicitudes=('id_cr', 'nunique'),  # Total de solicitudes únicas por cohorte y mes
    Solicitudes_Instant=('transfer_type', lambda x: (x == 'instant').sum()),  # Solicitudes tipo 'instant' por cohorte y mes
    Solicitudes_Regular=('transfer_type', lambda x: (x == 'regular').sum()),  # Solicitudes tipo 'regular' por cohorte y mes
    Clientes_con_fees=('fee', lambda x: (x > 0).sum()),  # Clientes con fees por cohorte y mes
    CR=('id_cr', lambda ids: df_jo[df_jo['id_cr'].isin(ids) & df_jo['cash_request_received_date'].notnull()]['amount'].sum()),

    Fees=('fee', 'sum'),  # Total de fees por cohorte y mes
    # Contar las líneas con 'stat_fe' == 'accepted'
    paid_fees=('stat_fe', lambda x: (x == 'accepted').sum()),  
    # Contar las líneas con 'stat_fe' != 'accepted'
    non_paid_fees=('stat_fe', lambda x: (x != 'accepted').sum()),
    # Sumar 'total_amount' cuando 'stat_fe' == 'accepted'
    total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),
    # Sumar 'total_amount' cuando 'stat_fe' != 'accepted'
    total_non_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] != 'accepted'].sum()),
     # Contar las líneas con 'stat_cr' == 'money_back'
    paid_cr=('stat_cr', lambda x: (x == 'money_back').sum()),  
    # Contar las líneas con 'stat_fe' != 'accepted'
    non_paid_cr=('stat_cr', lambda x: (x != 'money_back').sum()),
    # Sumar 'total_amount' cuando 'stat_fe' == 'accepted'
    total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].sum()),
    # Sumar 'total_amount' cuando 'stat_fe' != 'accepted'
    total_non_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] != 'money_back'].sum()),
    # Métrica de "credit lapse" (diferencia entre reimbursement_date y created_at)
    credit_lapse=('reimbursement_date', lambda x: (x - df_jo.loc[x.index, 'created_at']).dt.days.mean()),
    # Métrica de "credit payment lapse" (diferencia entre money_back_date y reimbursement_date)
    credit_payment_lapse=('money_back_date', lambda x: (x - df_jo.loc[x.index, 'reimbursement_date']).dt.days.mean())

).reset_index()

# Calcular los porcentajes de non_paid_fees
cohort_analysis['paid_fees_percent_qty'] = (cohort_analysis['paid_fees'] / (cohort_analysis['paid_fees'] + cohort_analysis['non_paid_fees']))
cohort_analysis['paid_fees_percent_amount'] = (cohort_analysis['total_paid_fees'] / cohort_analysis['Fees'])   # % en monto
cohort_analysis['paid_cr_percent_qty'] = (cohort_analysis['paid_cr'] / (cohort_analysis['paid_cr'] + cohort_analysis['non_paid_cr']))
cohort_analysis['paid_cr_percent_amount'] = (cohort_analysis['total_paid_cr'] / cohort_analysis['CR'])   # % en monto
cohort_analysis['index'] = (cohort_analysis['total_paid_fees'] / cohort_analysis['total_paid_cr'])   # % index

# Eliminar las columnas de pago y no pago
cohort_sizes_monthly = cohort_analysis.drop(
    ['paid_fees', 'non_paid_fees', 'total_paid_fees', 'total_non_paid_fees','paid_cr', 'non_paid_cr', 'total_paid_cr', 'total_non_paid_cr'], axis=1, errors='ignore')

# Mostrar los resultados de las cohortes por mes
#cohort_analysis

In [17]:
cohort_analysis
#display(cohort_analysis[cohort_analysis.user_id == 2002])

,Cohorte,Mes_created_at,Num_Clientes,Num_Solicitudes,Solicitudes_Instant,Solicitudes_Regular,Clientes_con_fees,CR,Fees,paid_fees,non_paid_fees,total_paid_fees,total_non_paid_fees,paid_cr,non_paid_cr,total_paid_cr,total_non_paid_cr,credit_lapse,credit_payment_lapse,paid_fees_percent_qty,paid_fees_percent_amount,paid_cr_percent_qty,paid_cr_percent_amount,index
0,2019-11,2019-11,1,1,0,1,0,0.0,0.0,0,1,0.0,0.0,0,1,0.0,1.0,16.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
1,2019-11,2019-12,1,1,0,1,0,0.0,0.0,0,1,0.0,0.0,0,1,0.0,100.0,6.000000,NaN,0.000000,NaN,0.000000,NaN,NaN
2,2019-11,2020-04,1,1,0,1,0,100.0,0.0,0,1,0.0,0.0,1,0,100.0,0.0,14.000000,8.000000,0.000000,NaN,1.000000,1.000000,0.000000
3,2019-11,2020-05,1,1,0,5,5,50.0,25.0,1,4,5.0,20.0,5,0,50.0,0.0,125.000000,-45.000000,0.200000,0.200000,1.000000,1.000000,0.100000
4,2019-11,2020-08,1,1,2,0,2,20.0,10.0,2,0,10.0,0.0,2,0,20.0,0.0,55.000000,-8.000000,1.000000,1.000000,1.000000,1.000000,0.500000
5,2019-11,2020-09,1,1,1,0,1,5.0,5.0,1,0,5.0,0.0,1,0,5.0,0.0,23.000000,-8.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,2019-11,2020-10,1,2,2,0,2,6.0,10.0,2,0,10.0,0.0,2,0,6.0,0.0,29.500000,-18.500000,1.000000,1.000000,1.000000,1.000000,1.666667
7,2019-12,2019-12,256,288,0,288,0,16349.0,0.0,0,288,0.0,0.0,154,134,14490.0,12707.0,26.180556,23.950311,0.000000,NaN,0.534722,0.886293,0.000000
8,2019-12,2020-01,89,100,0,100,0,5713.0,0.0,0,100,0.0,0.0,58,42,5513.0,4030.0,38.390000,28.137931,0.000000,NaN,0.580000,0.964992,0.000000
9,2019-12,2020-02,55,58,0,58,0,4100.0,0.0,0,58,0.0,0.0,37,21,3600.0,1781.0,22.568966,10.243243,0.000000,NaN,0.637931,0.878049,0.000000
10,2019-12,2020-03,65,76,0,76,0,5170.0,0.0,0,76,0.0,0.0,51,25,4870.0,2480.0,21.934211,17.603774,0.000000,NaN,0.671053,0.941973,0.000000
11,2019-12,2020-04,62,76,0,76,0,5190.0,0.0,0,76,0.0,0.0,53,23,5090.0,2210.0,19.197368,9.518519,0.000000,NaN,0.697368,0.980732,0.000000
12,2019-12,2020-05,72,81,0,86,12,6575.0,60.0,7,79,35.0,25.0,67,19,6385.0,1820.0,23.813953,8.579710,0.081395,0.583333,0.779070,0.971103,0.005482
13,2019-12,2020-06,64,81,0,102,46,7255.0,230.0,30,72,150.0,80.0,67,35,6355.0,3440.0,26.245098,17.690141,0.294118,0.652174,0.656863,0.875948,0.023603
14,2019-12,2020-07,56,67,3,78,32,6280.0,160.0,12,69,60.0,100.0,57,24,5380.0,2400.0,26.370370,4.545455,0.148148,0.375000,0.703704,0.856688,0.011152
15,2019-12,2020-08,65,78,117,26,112,12180.0,560.0,77,66,385.0,175.0,128,15,12180.0,1400.0,47.657343,4.093750,0.538462,0.687500,0.895105,1.000000,0.031609
16,2019-12,2020-09,42,50,44,12,35,3810.0,175.0,34,22,170.0,5.0,41,15,3810.0,1350.0,25.428571,5.365854,0.607143,0.971429,0.732143,1.000000,0.044619
17,2019-12,2020-10,60,72,76,6,65,5780.0,325.0,58,24,290.0,35.0,67,15,6130.0,1240.0,23.292683,1.582090,0.707317,0.892308,0.817073,1.060554,0.047308
18,2019-12,2020-11,1,1,0,1,0,100.0,0.0,0,1,0.0,0.0,1,0,100.0,0.0,29.000000,1.000000,0.000000,NaN,1.000000,1.000000,0.000000
19,2020-01,2020-01,108,123,0,123,0,4866.0,0.0,0,123,0.0,0.0,44,79,4216.0,7828.0,39.487805,23.510638,0.000000,NaN,0.357724,0.866420,0.000000
20,2020-01,2020-02,23,25,0,25,0,980.0,0.0,0,25,0.0,0.0,9,16,880.0,1580.0,25.920000,5.700000,0.000000,NaN,0.360000,0.897959,0.000000
21,2020-01,2020-03,16,17,0,17,0,1200.0,0.0,0,17,0.0,0.0,12,5,1200.0,460.0,21.823529,9.916667,0.000000,NaN,0.705882,1.000000,0.000000
22,2020-01,2020-04,28,36,0,36,0,2400.0,0.0,0,36,0.0,0.0,24,12,2400.0,1200.0,19.000000,9.083333,0.000000,NaN,0.666667,1.000000,0.000000
23,2020-01,2020-05,26,31,0,36,8,2400.0,40.0,4,32,20.0,20.0,25,11,2500.0,990.0,28.416667,5.240000,0.111111,0.500000,0.694444,1.041667,0.008000
24,2020-01,2020-06,25,26,0,33,12,2550.0,60.0,6,27,30.0,30.0,24,9,2310.0,740.0,25.303030,19.857143,0.181818,0.500000,0.727273,0.905882,0.012987
25,2020-01,2020-07,27,28,7,43,36,4730.0,180.0,23,27,115.0,65.0,40,10,3830.0,1000.0,37.200000,20.400000,0.460000,0.638889,0.800000,0.809725,0.030026
26,2020-01,2020-08,21,22,32,3,29,3150.0,145.0,20,15,100.0,45.0,32,3,3150.0,300.0,26.057143,7.625000,0.571429,0.689655,0.914286,1.000000,0.031746
27,2020-01,2020-09,20,22,26,6,25,2700.0,125.0,20,12,100.0,25.0,28,4,2600.0,320.0,37.562500,5.607143,0.625000,0.800000,0.875000,0.962963,0.038462
28,2020-01,2020-10,23,24,27,2,27,2550.0,135.0,24,5,120.0,15.0,28,1,2750.0,50.0,29.758621,2.500000,0.827586,0.888889,0.965517,1.078431,0.043636
29,2020-01,2020-11,1,1,1,0,0,0.0,0.0,0,1,0.0,0.0,1,0,100.0,0.0,29.000000,1.000000,0.000000,NaN,1.000000,inf,0.000000
30,2020-02,2020-02,93,101,0,101,0,5545.0,0.0,0,101,0.0,0.0,56,45,5245.0,3567.0,23.297030,12.813559,0.000000,NaN,0.554455,0.945897,0.000000
31,2020-02,2020-03,44,48,0,48,0,3720.0,0.0,0,48,0.0,0.0,38,10,3720.0,920.0,23.104167,12.710526,0.000000,NaN,0.791667,1.000000,0.000000
32,2020-02,2020-04,42,49,0,49,0,3367.0,0.0,0,49,0.0,0.0,36,13,3367.0,1240.0,18.142857,10.027778,0.000000,NaN,0.734694,1.000000,0.000000
33,2020-02,2020-05,42,45,0,58,16,5200.0,80.0,4,54,20.0,60.0,51,7,5000.0,650.0,33.982759,5.471698,0.068966,0.250000,0.879310,0.961538,0.004000
34,2020-02,2020-06,39,45,0,60,26,5155.0,130.0,12,48,60.0,70.0,51,9,5005.0,630.0,29.666667,0.907407,0.200000,0.461538,0.850000,0.970902,0.011988
35,2020-02,2020-07,37,38,12,41,27,4955.0,135.0,19,34,95.0,40.0,47,6,4655.0,550.0,27.886792,25.080000,0.358491,0.703704,0.886792,0.939455,0.020408
36,2020-02,2020-08,37,46,41,33,57,5945.0,285.0,37,37,185.0,100.0,65,9,6050.0,880.0,37.770270,11.246154,0.500000,0.649123,0.878378,1.017662,0.030579
37,2020-02,2020-09,25,27,22,10,23,2755.0,115.0,22,10,110.0,5.0,29,3,2755.0,250.0,31.500000,1.931034,0.687500,0.956522,0.906250,1.000000,0.039927
38,2020-02,2020-10,35,42,43,10,44,3945.0,220.0,33,20,165.0,55.0,48,5,4295.0,400.0,25.245283,1.083333,0.622642,0.750000,0.905660,1.088720,0.038417
39,2020-03,2020-03,91,103,0,103,0,6110.0,0.0,0,103,0.0,0.0,64,39,6060.0,3839.0,24.271845,8.800000,0.000000,NaN,0.621359,0.991817,0.000000
40,2020-03,2020-04,39,43,0,43,0,3200.0,0.0,0,43,0.0,0.0,30,13,3100.0,1250.0,20.930233,10.903226,0.000000,NaN,0.697674,0.968750,0.000000
41,2020-03,2020-05,36,45,0,46,2,3400.0,10.0,0,46,0.0,10.0,33,13,3470.0,1070.0,20.347826,6.121212,0.000000,0.000000,0.717391,1.020588,0.000000
42,2020-03,2020-06,45,47,0,72,45,6950.0,225.0,31,41,155.0,70.0,64,8,6550.0,800.0,42.944444,19.073529,0.430556,0.688889,0.888889,0.942446,0.023664
43,2020-03,2020-07,34,38,3,42,18,4170.0,90.0,11,34,55.0,35.0,36,9,3870.0,685.0,28.511111,3.888889,0.244444,0.611111,0.800000,0.928058,0.014212
44,2020-03,2020-08,32,34,41,11,37,4490.0,185.0,30,22,150.0,35.0,46,6,4490.0,500.0,30.557692,7.565217,0.576923,0.810811,0.884615,1.000000,0.033408
45,2020-03,2020-09,29,30,34,7,31,3450.0,155.0,28,13,140.0,15.0,31,10,3050.0,850.0,47.609756,6.838710,0.682927,0.903226,0.756098,0.884058,0.045902
46,2020-03,2020-10,27,30,41,3,40,2800.0,200.0,28,16,140.0,60.0,42,2,3900.0,150.0,21.250000,1.166667,0.636364,0.700000,0.954545,1.392857,0.035897
47,2020-03,2020-11,1,1,1,0,1,50.0,5.0,1,0,5.0,0.0,0,1,0.0,50.0,95.000000,NaN,1.000000,1.000000,0.000000,0.000000,inf
48,2020-04,2020-04,250,268,0,268,1,17076.0,5.0,0,268,0.0,5.0,165,103,15876.0,10260.0,18.757463,15.403409,0.000000,0.000000,0.615672,0.929726,0.000000
49,2020-04,2020-05,117,150,0,173,36,11671.0,180.0,15,158,75.0,105.0,110,63,10471.0,6087.0,24.514451,24.528455,0.086705,0.416667,0.635838,0.897181,0.007163
50,2020-04,2020-06,122,149,0,215,114,16645.0,570.0,54,161,270.0,300.0,142,73,13245.0,7175.0,28.451163,8.050847,0.251163,0.473684,0.660465,0.795734,0.020385
51,2020-04,2020-07,92,115,6,154,78,12725.0,390.0,30,130,150.0,240.0,102,58,10125.0,5255.0,27.562500,4.757009,0.187500,0.384615,0.637500,0.795678,0.014815
52,2020-04,2020-08,79,108,138,38,126,12425.0,630.0,84,92,420.0,210.0,123,53,11590.0,4505.0,35.545455,10.312000,0.477273,0.666667,0.698864,0.932797,0.036238
53,2020-04,2020-09,67,79,87,18,79,8265.0,395.0,71,34,355.0,40.0,87,18,8065.0,1450.0,36.028571,5.348315,0.676190,0.898734,0.828571,0.975802,0.044017
54,2020-04,2020-10,60,74,75,12,67,6100.0,335.0,54,33,270.0,65.0,73,14,6300.0,1100.0,25.919540,2.369863,0.620690,0.805970,0.839080,1.032787,0.042857
55,2020-05,2020-05,438,484,0,593,178,43097.0,890.0,73,520,365.0,525.0,445,148,41597.0,14316.0,28.258010,16.790043,0.123103,0.410112,0.750422,0.965195,0.008775
56,2020-05,2020-06,253,306,0,416,193,31380.0,965.0,113,303,565.0,400.0,290,126,28080.0,11738.0,30.103365,12.931464,0.271635,0.585492,0.697115,0.894837,0.020121
57,2020-05,2020-07,218,260,16,349,184,28895.0,920.0,114,251,570.0,350.0,279,86,26615.0,7610.0,32.421918,19.385666,0.312329,0.619565,0.764384,0.921094,0.021416
58,2020-05,2020-08,182,227,245,76,219,24630.0,1095.0,166,155,830.0,265.0,245,76,23230.0,6544.0,28.847352,9.742188,0.517134,0.757991,0.763240,0.943159,0.035730
59,2020-05,2020-09,137,167,202,29,181,17600.0,905.0,149,82,745.0,160.0,178,53,16720.0,4460.0,30.987013,6.532609,0.645022,0.823204,0.770563,0.950000,0.044557
60,2020-05,2020-10,152,169,183,28,178,14480.0,890.0,146,65,730.0,160.0,188,23,17230.0,1750.0,28.606635,3.225131,0.691943,0.820225,0.890995,1.189917,0.042368
61,2020-05,2020-11,4,4,4,0,3,200.0,15.0,3,1,15.0,0.0,3,1,300.0,50.0,19.750000,3.333333,0.750000,1.000000,0.750000,1.500000,0.050000
62,2020-06,2020-06,1565,1961,0,2764,1309,181998.0,6545.0,691,2073,3455.0,3090.0,1776,988,165088.0,93030.0,30.148336,14.720436,0.250000,0.527884,0.642547,0.907087,0.020928
63,2020-06,2020-07,761,1029,74,1251,525,85785.0,2625.0,253,1072,1265.0,1360.0,843,482,77185.0,42617.0,29.311698,11.143820,0.190943,0.481905,0.636226,0.899749,0.016389
64,2020-06,2020-08,746,956,1238,322,1158,113658.0,5790.0,765,795,3825.0,1965.0,1172,388,106058.0,31935.0,35.355128,13.163636,0.490385,0.660622,0.751282,0.933133,0.036065
65,2020-06,2020-09,573,681,905,126,824,74250.0,4120.0,612,419,3060.0,1060.0,800,231,71310.0,19215.0,37.689622,10.167694,0.593598,0.742718,0.775946,0.960404,0.042911
66,2020-06,2020-10,562,648,745,75,696,54375.0,3480.0,550,270,2750.0,730.0,705,115,62045.0,8960.0,29.301220,3.807042,0.670732,0.790230,0.859756,1.141057,0.044323
67,2020-06,2020-11,5,5,5,0,3,350.0,15.0,3,2,15.0,0.0,4,1,350.0,50.0,29.800000,4.000000,0.600000,1.000000,0.800000,1.000000,0.042857
68,2020-07,2020-07,1506,2025,370,2343,1178,144431.0,5890.0,570,2143,2850.0,3040.0,1387,1326,123551.0,120709.0,30.448581,11.597127,0.210100,0.483871,0.511242,0.855433,0.023067
69,2020-07,2020-08,706,944,1162,294,991,92250.0,4955.0,640,816,3200.0,1755.0,942,514,82270.0,39428.0,32.497253,14.027273,0.439560,0.645812,0.646978,0.891816,0.038896
70,2020-07,2020-09,511,601,745,99,658,56645.0,3290.0,524,320,2620.0,670.0,661,183,54785.0,13400.0,31.729858,9.638643,0.620853,0.796353,0.783175,0.967164,0.047823
71,2020-07,2020-10,528,589,644,59,605,47625.0,3025.0,492,211,2460.0,565.0,599,104,49955.0,7215.0,28.005690,4.495908,0.699858,0.813223,0.852063,1.048924,0.049244
72,2020-07,2020-11,7,7,6,1,4,350.0,20.0,3,4,15.0,5.0,5,2,350.0,150.0,38.857143,6.200000,0.428571,0.750000,0.714286,1.000000,0.042857
73,2020-08,2020-08,737,1000,1140,290,781,67315.0,3905.0,518,912,2590.0,1315.0,748,682,60745.0,51270.0,32.100699,14.301020,0.362238,0.663252,0.523077,0.902399,0.042637
74,2020-08,2020-09,291,342,433,59,351,27020.0,1755.0,253,239,1265.0,490.0,313,179,23710.0,11810.0,34.894309,7.150150,0.514228,0.720798,0.636179,0.877498,0.053353
75,2020-08,2020-10,245,279,310,29,283,21510.0,1415.0,230,109,1150.0,265.0,296,43,23430.0,3280.0,24.241888,4.027027,0.678466,0.812721,0.873156,1.089261,0.049082
76,2020-08,2020-11,10,10,10,0,9,475.0,45.0,8,2,40.0,5.0,9,1,625.0,50.0,20.500000,1.333333,0.800000,0.888889,0.900000,1.315789,0.064000
77,2020-09,2020-09,1989,2221,3158,204,2379,190776.0,11895.0,1643,1719,8215.0,3680.0,2176,1186,178558.0,85449.0,31.351279,9.300627,0.488697,0.690626,0.647234,0.935956,0.046007
78,2020-09,2020-10,680,728,867,70,846,55440.0,4230.0,635,302,3175.0,1055.0,820,117,57985.0,7585.0,24.610459,4.122892,0.677695,0.750591,0.875133,1.045905,0.054756
79,2020-09,2020-11,20,20,18,2,15,1175.0,75.0,12,8,60.0,15.0,17,3,1275.0,200.0,21.850000,1.235294,0.600000,0.800000,0.850000,1.085106,0.047059
80,2020-10,2020-10,4828,5068,6042,262,5909,377745.0,29550.0,4715,1589,23580.0,5970.0,5656,648,397067.0,46410.0,22.840895,3.674588,0.747938,0.797970,0.897208,1.051151,0.059385
81,2020-10,2020-11,15,15,13,2,11,800.0,55.0,9,6,45.0,10.0,12,3,900.0,300.0,27.133333,11.538462,0.600000,0.818182,0.800000,1.125000,0.050000
82,2020-11,2020-11,76,76,71,5,67,4650.0,335.0,64,12,320.0,15.0,71,5,5510.0,350.0,23.500000,4.555556,0.842105,0.955224,0.934211,1.184946,0.058076

In [18]:
df = pm.df('df_jo')
#df.info()

cr_id = ['id_cr','id_fe','user_id', 'created_at','created_at_fe','amount','fee','stat_cr','stat_fe','transfer_type','type',
            'to_receive_ini', 'to_receive_bank','to_reimbur','to_reimbur_cash','to_end','to_send',
             'send_at', 'cr_received_date', 'money_back_date', 'reimbursement_date',
            'paid_at','charge_moment','moderated_at','reason','category','from_date','to_date', 'recovery_status'] # ,'id_y','from_date','to_date','reason','recovery_status', 'cash_request_id'

print("Casos segun Cash Request ID")
pd.options.display.max_columns = None
for id in ([-18264]): # 16391 20108, 20104, 20112,
    df_t = df[df['id_cr'] == id].reset_index()
    print(f"Cash Request ID: {id}")
    display(df_t[cr_id].sort_values('created_at'))

user_ids = [54879, 9900458, 2002, 1987, 1946, 90, 526, 12934] #, 12274 54879 12441, 13851, 16391, 430,  63894,18730,10116,21465, 99000262]
# vips 12934 526
# 90 Este se esta gestionando mal: todos instant, con demoras y sin gestion por 
# 1946 Parece un ejemplo de buena gestion, al final tiene un instant y se le ha dado margen el las demoras.
# 1987 Parece un ejemplo de buen usuario, se pasa a instant para siempre.

pd.options.display.max_columns = None
print("Casos segun Cash User ID")
for id in (user_ids):
    #df_t = df[df['user_id'] == id].reset_index()
    df_t = df[(df['user_id'] == id) & (df['stat_cr'] == 'money_back')].reset_index()
    print(f"User ID: {id}")
    display(df_t[cr_id].sort_values('created_at').reset_index())

Casos segun Cash Request ID
Cash Request ID: -18264

Empty DataFrame
Columns: [id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

Casos segun Cash User ID
User ID: 54879

Empty DataFrame
Columns: [index, id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

User ID: 9900458

Empty DataFrame
Columns: [index, id_cr, id_fe, user_id, created_at, created_at_fe, amount, fee, stat_cr, stat_fe, transfer_type, type, to_receive_ini, to_receive_bank, to_reimbur, to_reimbur_cash, to_end, to_send, send_at, cr_received_date, money_back_date, reimbursement_date, paid_at, charge_moment, moderated_at, reason, category, from_date, to_date, recovery_status]
Index: []

User ID: 2002

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,1,423,0,2002,2020-01-10 10:55:20.757139,NaT,100.0,NaN,money_back,NaN,regular,nice,3 days 13:04:39.242861,NaT,27 days 12:04:39.242861,NaT,NaT,NaT,NaT,2020-01-14,2020-02-06 23:00:00.000000,2020-02-06 23:00:00,NaT,NaN,2020-01-10 14:07:53.226098,NaN,NaN,NaT,NaT,nice
1,4,697,0,2002,2020-02-18 16:36:51.249037,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 07:23:08.750963,NaT,9 days 06:23:08.750963,NaT,NaT,NaT,NaT,2020-02-19,2020-02-27 23:00:00.000000,2020-02-27 23:00:00,NaT,NaN,2020-02-19 10:52:06.054881,NaN,NaN,NaT,NaT,nice
2,3,835,0,2002,2020-03-10 07:47:39.337041,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 16:12:20.662959,NaT,26 days 14:12:20.662959,NaT,-9 days +01:34:00.867673,NaT,NaT,2020-03-11,2020-04-14 20:25:59.132327,2020-04-05 22:00:00,NaT,NaN,2020-03-10 09:29:45.938994,NaN,NaN,NaT,NaT,nice
3,2,1172,0,2002,2020-04-14 21:03:09.519326,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 02:56:50.480674,NaT,21 days 00:56:50.480674,NaT,-9 days +00:54:50.511293,NaT,NaT,2020-04-15,2020-05-14 21:05:09.488707,2020-05-05 22:00:00,NaT,NaN,2020-04-15 09:33:29.732785,NaN,NaN,NaT,NaT,nice
4,0,1800,0,2002,2020-05-15 04:09:51.091889,NaT,100.0,NaN,money_back,NaN,regular,nice,-1 days +19:50:08.908111,NaT,22 days 17:50:08.908111,NaT,-5 days +23:42:06.868088,NaT,NaT,2020-05-15,2020-06-10 22:17:53.131912,2020-06-06 22:00:00,NaT,NaN,2020-05-15 09:08:21.143739,NaN,NaN,NaT,NaT,nice
5,5,2949,0,2002,2020-06-10 23:34:13.556501,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 00:25:46.443499,NaT,25 days 22:25:46.443499,NaT,-1 days +00:00:00,NaT,NaT,2020-06-13,2020-07-07 22:00:00.000000,2020-07-06 22:00:00,NaT,NaN,2020-06-11 10:26:29.126647,NaN,NaN,NaT,NaT,nice
6,6,8177,1749,2002,2020-07-15 13:17:11.174285,2020-07-22 01:33:56.400884,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-22 01:34:02.980599,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-04 22:00:00.000,2020-08-15 01:33:48.128,nice
7,7,8177,1839,2002,2020-07-15 13:17:11.174285,2020-07-23 11:31:44.836318,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-23 11:31:49.172044,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-15 01:33:48.128,2020-08-30 01:33:48.128,nice
8,8,8177,1977,2002,2020-07-15 13:17:11.174285,2020-07-25 19:20:00.560197,100.0,5.0,money_back,accepted,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,2020-07-25 19:20:05.594089,before,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-30 01:33:48.128,2020-09-14 01:33:48.128,nice
9,9,8177,1674,2002,2020-07-15 13:17:11.174285,2020-07-20 20:43:33.629841,100.0,5.0,money_back,cancelled,regular,postpone,2 days 10:42:48.825715,NaT,20 days 12:16:36.825715,NaT,1 days 16:32:06.636452,NaT,NaT,2020-07-18,2020-08-03 09:01:41.363548,2020-08-05 01:33:48,NaT,after,2020-07-17 08:40:18.000000,Postpone Cash Request 8177,nice,2020-08-04 22:00:00.000,2020-08-19 22:00:00.000,nice
10,11,12818,0,2002,2020-08-17 16:25:01.087675,NaT,100.0,NaN,money_back,NaN,regular,nice,8 days 07:34:58.912325,1 days 07:34:58.954893,21 days 05:34:58.912325,14 days 05:34:58.954893,-6 days +00:00:00,6 days 23:59:59.957432,2020-08-24 16:25:01.045107,2020-08-26,2020-09-13 22:00:00.000000,2020-09-07 22:00:00,NaT,NaN,2020-08-18 07:55:44.066260,NaN,NaN,NaT,NaT,nice
11,10,16332,0,2002,2020-09-16 04:16:00.198279,NaT,100.0,NaN,money_back,NaN,regular,nice,7 days 19:43:59.801721,0 days 19:43:59.849872,19 days 17:43:59.801721,12 days 17:43:59.849872,-6 days +00:00:00,6 days 23:59:59.951849,2020-09-23 04:16:00.150128,2020-09-24,2020-10-11 22:00:00.000000,2020-10-05 22:00:00,NaT,NaN,2020-09-16 08:27:18.567012,NaN,NaN,NaT,NaT,nice
12,12,24248,17289,2002,2020-10-25 07:41:00.266568,2020-10-25 07:41:49.198215,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 16:18:59.733432,1 days 16:18:21.679353,15 days 14:18:59.733432,15 days 14:18:21.679353,0 days 02:48:11.574288,0 days 00:00:38.054079,2020-10-25 07:41:38.320647,2020-10-27,2020-11-09 19:11:48.425712,2020-11-09 22:00:00,2020-11-09 19:11:48.456827,after,NaT,Instant Payment Cash Request 24248,nice,NaT,NaT,nice

User ID: 1987

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,2,312,0,1987,2019-12-26 15:33:32.649784,NaT,100.0,NaN,money_back,NaN,regular,nice,4 days 08:26:27.350216,NaT,13 days 07:26:27.350216,NaT,NaT,NaT,NaT,2019-12-31,2020-01-08 23:00:00.000000,2020-01-08 23:00:00.000,NaT,NaN,2019-12-27 14:00:46.264828,NaN,NaN,NaT,NaT,nice
1,5,463,0,1987,2020-01-16 20:51:38.710795,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 03:08:21.289205,NaT,20 days 02:08:21.289205,NaT,NaT,NaT,NaT,2020-01-18,2020-02-05 23:00:00.000000,2020-02-05 23:00:00.000,NaT,NaN,2020-01-17 08:57:34.200059,NaN,NaN,NaT,NaT,nice
2,3,694,0,1987,2020-02-17 22:02:05.200333,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 01:57:54.799667,NaT,21 days 00:57:54.799667,NaT,-9 days +01:49:02.700176,NaT,NaT,2020-02-20,2020-03-18 21:10:57.299824,2020-03-09 23:00:00.000,NaT,NaN,2020-02-18 15:19:25.744451,NaN,NaN,NaT,NaT,nice
3,1,943,0,1987,2020-03-18 21:48:48.167654,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 02:11:11.832346,NaT,13 days 00:11:11.832346,NaT,-9 days +00:42:07.534713,NaT,NaT,2020-03-20,2020-04-09 21:17:52.465287,2020-03-31 22:00:00.000,NaT,NaN,2020-03-19 10:32:52.099223,NaN,NaN,NaT,NaT,nice
4,4,1128,0,1987,2020-04-10 11:21:22.259156,NaT,100.0,NaN,money_back,NaN,regular,nice,4 days 12:38:37.740844,NaT,24 days 10:38:37.740844,NaT,-9 days +01:18:05.016104,NaT,NaT,2020-04-15,2020-05-13 20:41:54.983896,2020-05-04 22:00:00.000,NaT,NaN,2020-04-10 12:36:59.015148,NaN,NaN,NaT,NaT,nice
5,0,1747,0,1987,2020-05-13 22:11:50.893258,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 01:48:09.106742,NaT,18 days 23:48:09.106742,NaT,-10 days +22:28:03.654097,NaT,NaT,2020-05-14,2020-06-10 23:31:56.345903,2020-06-01 22:00:00.000,NaT,NaN,2020-05-14 08:38:55.036313,NaN,NaN,NaT,NaT,nice
6,6,2953,239,1987,2020-06-11 02:40:32.868593,2020-06-15 19:54:49.758278,100.0,5.0,money_back,accepted,regular,postpone,1 days 21:19:27.131407,NaT,50 days 17:14:11.794407,NaT,-3 days +21:54:44.663000,NaT,NaT,2020-06-13,2020-08-02 22:00:00.000000,2020-07-31 19:54:44.663,NaT,before,2020-06-11 10:29:32.914724,Postpone Cash Request 2953,nice,2020-07-17 22:00:00,2020-07-31 19:54:44.663,nice
7,7,2953,223,1987,2020-06-11 02:40:32.868593,2020-06-13 07:01:36.497750,100.0,5.0,money_back,accepted,regular,postpone,1 days 21:19:27.131407,NaT,50 days 17:14:11.794407,NaT,-3 days +21:54:44.663000,NaT,NaT,2020-06-13,2020-08-02 22:00:00.000000,2020-07-31 19:54:44.663,NaT,before,2020-06-11 10:29:32.914724,Postpone Cash Request 2953,nice,2020-07-02 22:00:00,2020-07-17 22:00:00.000,nice
8,8,10962,4416,1987,2020-08-05 12:18:00.894553,2020-08-19 22:49:13.475504,100.0,5.0,money_back,accepted,instant,postpone,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-08-19 22:49:17.968925,before,2020-08-05 14:36:21.515389,Postpone Cash Request 10962,nice,2020-08-29 22:00:00,2020-09-09 10:00:00.000,nice
9,9,10962,6536,1987,2020-08-05 12:18:00.894553,2020-09-07 10:40:35.867503,100.0,5.0,money_back,accepted,instant,postpone,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-09-07 10:40:41.083218,before,2020-08-05 14:36:21.515389,Postpone Cash Request 10962,nice,2020-09-09 10:00:00,2020-10-01 10:00:00.000,nice
10,10,10962,2830,1987,2020-08-05 12:18:00.894553,2020-08-05 14:36:23.085279,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 11:41:59.105447,-6 days +11:41:59.105818,56 days 21:41:59.105447,49 days 21:41:59.105818,-2 days +22:33:30.657089,6 days 23:59:59.999629,2020-08-12 12:18:00.894182,2020-08-07,2020-10-02 11:26:29.342911,2020-10-01 10:00:00.000,2020-08-11 22:29:51.000000,after,2020-08-05 14:36:21.515389,Instant Payment Cash Request 10962,nice,NaT,NaT,nice
11,11,18983,10707,1987,2020-10-03 06:14:52.122144,2020-10-03 12:14:54.232078,100.0,5.0,money_back,accepted,instant,instant_payment,2 days 17:45:07.877856,-5 days +17:45:07.920609,27 days 15:45:07.877856,20 days 15:45:07.920609,0 days 02:27:54.062507,6 days 23:59:59.957247,2020-10-10 06:14:52.079391,2020-10-06,2020-10-30 19:32:05.937493,2020-10-30 22:00:00.000,2020-10-30 19:32:05.969464,after,2020-10-03 12:14:52.598236,Instant Payment Cash Request 18983,nice,NaT,NaT,nice
12,12,18983,15356,1987,2020-10-03 06:14:52.122144,2020-10-20 23:41:25.314012,100.0,5.0,money_back,cancelled,instant,postpone,2 days 17:45:07.877856,-5 days +17:45:07.920609,27 days 15:45:07.877856,20 days 15:45:07.920609,0 days 02:27:54.062507,6 days 23:59:59.957247,2020-10-10 06:14:52.079391,2020-10-06,2020-10-30 19:32:05.937493,2020-10-30 22:00:00.000,NaT,before,2020-10-03 12:14:52.598236,Postpone Cash Request 18983,nice,2020-10-30 22:00:00,2020-10-31 11:00:00.000,nice
13,13,26504,20444,1987,2020-10-30 19:40:05.024674,2020-10-30 19:40:18.242409,100.0,5.0,money_back,accepted,instant,instant_payment,3 days 04:19:54.975326,3 days 04:19:45.296555,31 days 02:19:54.975326,31 days 02:19:45.296555,0 days 09:13:48.143889,0 days 00:00:09.678771,2020-10-30 19:40:14.703445,2020-11-03,2020-11-30 12:46:11.856111,2020-11-30 22:00:00.000,2020-11-30 12:46:11.915306,after,NaT,Instant Payment Cash Request 26504,nice,NaT,NaT,nice

User ID: 1946

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,1,292,0,1946,2019-12-23 07:29:44.817276,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 16:30:15.182724,NaT,34 days 15:30:15.182724,NaT,NaT,NaT,NaT,2019-12-24,2020-01-26 23:00:00.000000,2020-01-26 23:00:00.000000,NaT,NaN,2019-12-23 08:57:37.000000,NaN,NaN,NaT,NaT,nice
1,5,608,0,1946,2020-02-05 03:29:47.482704,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 20:30:12.517296,NaT,5 days 19:30:12.517296,NaT,NaT,NaT,NaT,2020-02-07,2020-02-10 23:00:00.000000,2020-02-10 23:00:00.000000,NaT,NaN,2020-02-05 16:08:13.304063,NaN,NaN,NaT,NaT,nice
2,2,704,0,1946,2020-02-20 03:56:28.980938,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 20:03:31.019062,NaT,18 days 19:03:31.019062,NaT,-9 days +01:49:22.624860,NaT,NaT,2020-02-21,2020-03-18 21:10:37.375140,2020-03-09 23:00:00.000000,NaT,NaN,2020-02-20 06:57:23.376952,NaN,NaN,NaT,NaT,nice
3,0,947,0,1946,2020-03-19 03:17:07.937606,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 20:42:52.062394,NaT,6 days 23:59:59.999473,NaT,-9 days +04:45:00.173453,NaT,NaT,2020-03-20,2020-04-03 22:32:07.763626,2020-03-26 03:17:07.937079,NaT,NaN,2020-03-19 10:31:59.548975,NaN,NaN,NaT,NaT,nice
4,3,1043,0,1946,2020-04-04 20:19:08.386119,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 03:40:51.613881,NaT,24 days 01:40:51.613881,NaT,-9 days +00:48:58.109233,NaT,NaT,2020-04-07,2020-05-07 21:11:01.890767,2020-04-28 22:00:00.000000,NaT,NaN,2020-04-05 23:22:17.891157,NaN,NaN,NaT,NaT,nice
5,4,1661,0,1946,2020-05-10 02:17:02.360056,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 21:42:57.639944,NaT,18 days 19:42:57.639944,NaT,-9 days +00:23:56.492262,NaT,NaT,2020-05-12,2020-06-06 21:36:03.507738,2020-05-28 22:00:00.000000,NaT,NaN,2020-05-10 13:38:15.475488,NaN,NaN,NaT,NaT,nice
6,6,2673,0,1946,2020-06-07 06:54:09.300618,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 17:05:50.699382,NaT,22 days 15:05:50.699382,NaT,-3 days +03:25:06.962147,NaT,NaT,2020-06-09,2020-07-02 18:34:53.037853,2020-06-29 22:00:00.000000,NaT,NaN,2020-06-07 08:02:52.746668,NaN,NaN,NaT,NaT,nice
7,7,7906,0,1946,2020-07-14 06:30:30.137850,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 17:29:29.862150,NaT,13 days 15:29:29.862150,NaT,-2 days +00:00:00,NaT,NaT,2020-07-16,2020-07-29 22:00:00.000000,2020-07-27 22:00:00.000000,NaT,NaN,2020-07-14 12:23:30.483862,NaN,NaN,NaT,NaT,nice
8,8,10747,0,1946,2020-08-04 03:20:12.659074,NaT,100.0,NaN,money_back,NaN,regular,nice,6 days 20:39:47.340926,-1 days +20:39:47.341477,22 days 18:39:47.340926,15 days 18:39:47.341477,0 days 00:00:00,6 days 23:59:59.999449,2020-08-11 03:20:12.658523,2020-08-11,2020-08-26 22:00:00.000000,2020-08-26 22:00:00.000000,NaT,NaN,2020-08-04 10:25:31.570933,NaN,NaN,NaT,NaT,nice
9,9,14117,0,1946,2020-08-31 03:49:34.443187,NaT,100.0,NaN,money_back,NaN,regular,nice,6 days 20:10:25.556813,-1 days +20:10:25.609160,29 days 18:10:25.556813,22 days 18:10:25.609160,-6 days +00:00:00,6 days 23:59:59.947653,2020-09-07 03:49:34.390840,2020-09-07,2020-10-05 22:00:00.000000,2020-09-29 22:00:00.000000,NaT,NaN,2020-08-31 07:44:12.229315,NaN,NaN,NaT,NaT,nice
10,10,20269,12382,1946,2020-10-10 07:16:15.187175,2020-10-10 07:17:22.141796,100.0,5.0,money_back,accepted,instant,instant_payment,-1 days +16:43:44.812825,-1 days +16:42:50.472098,23 days 14:43:44.812825,23 days 14:42:50.472098,-2 days +23:00:00,0 days 00:00:54.340727,2020-10-10 07:17:09.527902,2020-10-10,2020-11-03 23:00:00.000000,2020-11-02 22:00:00.000000,2020-11-05 14:18:43.452634,after,NaT,Instant Payment Cash Request 20269,nice,NaT,NaT,nice

User ID: 90

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,3,314,0,90,2019-12-26 19:20:47.806186,NaT,100.0,NaN,money_back,NaN,regular,nice,4 days 04:39:12.193814,NaT,13 days 03:39:12.193814,NaT,NaT,NaT,NaT,2019-12-31,2020-01-08 23:00:00.000000,2020-01-08 23:00:00.000000,NaT,NaN,2019-12-27 14:06:27.008412,NaN,NaN,NaT,NaT,nice
1,4,667,0,90,2020-02-11 19:04:59.715551,NaT,100.0,NaN,money_back,NaN,regular,nice,0 days 04:55:00.284449,NaT,19 days 03:55:00.284449,NaT,-9 days +01:29:24.798386,NaT,NaT,2020-02-12,2020-03-10 21:30:35.201614,2020-03-01 23:00:00.000000,NaT,NaN,2020-02-12 11:17:31.780167,NaN,NaN,NaT,NaT,nice
2,1,893,0,90,2020-03-16 14:56:43.473601,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 09:03:16.526399,NaT,21 days 07:03:16.526399,NaT,-9 days +01:08:59.185284,NaT,NaT,2020-03-18,2020-04-15 20:51:00.814716,2020-04-06 22:00:00.000000,NaT,NaN,2020-03-16 15:11:42.665961,NaN,NaN,NaT,NaT,nice
3,0,2155,0,90,2020-05-25 12:48:13.019894,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 11:11:46.980106,NaT,11 days 09:11:46.980106,NaT,-7 days +23:22:01.202196,NaT,NaT,2020-05-28,2020-06-11 22:37:58.797804,2020-06-05 22:00:00.000000,NaT,NaN,2020-05-25 13:20:08.786743,NaN,NaN,NaT,NaT,nice
4,2,3343,0,90,2020-06-15 10:39:34.100529,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 13:20:25.899471,NaT,9 days 23:59:59.991291,NaT,-2 days +07:14:00.005528,NaT,NaT,2020-06-18,2020-06-27 03:25:34.086292,2020-06-25 10:39:34.091820,NaT,NaN,2020-06-15 11:52:28.283050,NaN,NaN,NaT,NaT,nice
5,5,5608,0,90,2020-06-27 14:08:39.137822,NaT,100.0,NaN,money_back,NaN,regular,nice,2 days 09:51:20.862178,NaT,11 days 09:42:20.862178,NaT,-1 days +01:51:00,NaT,NaT,2020-06-30,2020-07-09 22:00:00.000000,2020-07-08 23:51:00.000000,NaT,NaN,2020-06-27 17:43:48.707336,NaN,NaN,NaT,NaT,nice
6,8,9206,0,90,2020-07-21 08:16:11.513030,NaT,100.0,NaN,money_back,NaN,regular,nice,1 days 15:43:48.486970,-6 days +15:43:48.487391,9 days 13:43:48.486970,2 days 13:43:48.487391,0 days 00:00:00,6 days 23:59:59.999579,2020-07-28 08:16:11.512609,2020-07-23,2020-07-30 22:00:00.000000,2020-07-30 22:00:00.000000,NaT,NaN,2020-07-21 13:49:36.592679,NaN,NaN,NaT,NaT,nice
7,6,11384,0,90,2020-08-07 14:50:30.098500,NaT,100.0,NaN,money_back,NaN,regular,nice,10 days 09:09:29.901500,3 days 09:09:29.902154,21 days 07:09:29.901500,14 days 07:09:29.902154,-2 days +00:00:00,6 days 23:59:59.999346,2020-08-14 14:50:30.097846,2020-08-18,2020-08-30 22:00:00.000000,2020-08-28 22:00:00.000000,NaT,NaN,2020-08-07 15:58:06.719912,NaN,NaN,NaT,NaT,nice
8,7,14367,0,90,2020-09-03 12:54:09.185674,NaT,100.0,NaN,money_back,NaN,regular,nice,8 days 11:05:50.814326,1 days 11:05:50.883830,28 days 09:05:50.814326,21 days 09:05:50.883830,-1 days +10:33:46.582802,6 days 23:59:59.930496,2020-09-10 12:54:09.116170,2020-09-12,2020-10-02 11:26:13.417198,2020-10-01 22:00:00.000000,NaT,NaN,NaT,NaN,NaN,NaT,NaT,nice
9,9,19294,0,90,2020-10-05 15:34:36.390378,NaT,100.0,NaN,money_back,NaN,regular,nice,8 days 08:25:23.609622,1 days 08:25:23.654154,28 days 06:25:23.609622,21 days 06:25:23.654154,0 days 02:22:19.535709,6 days 23:59:59.955468,2020-10-12 15:34:36.345846,2020-10-14,2020-11-02 19:37:40.464291,2020-11-02 22:00:00.000000,NaT,NaN,2020-10-05 15:56:11.690041,NaN,NaN,NaT,NaT,nice

User ID: 526

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,3,131,0,526,2019-12-12 20:59:48.763947,NaT,90.0,NaN,money_back,NaN,regular,nice,3 days 03:00:11.236053,NaT,14 days 02:00:11.236053,NaT,NaT,NaT,NaT,2019-12-16,2019-12-26 23:00:00.000000,2019-12-26 23:00:00,NaT,NaN,2019-12-13 16:32:34.692499,NaN,NaN,NaT,NaT,nice
1,0,614,0,526,2020-02-05 17:54:50.727851,NaT,50.0,NaN,money_back,NaN,regular,nice,2 days 06:05:09.272149,NaT,22 days 05:05:09.272149,NaT,NaT,NaT,NaT,2020-02-08,2020-02-27 23:00:00.000000,2020-02-27 23:00:00,NaT,NaN,2020-02-06 12:48:34.924114,NaN,NaN,NaT,NaT,nice
2,2,824,0,526,2020-03-08 14:01:05.146330,NaT,60.0,NaN,money_back,NaN,regular,nice,1 days 09:58:54.853670,NaT,7 days 08:58:54.853670,NaT,-10 days +23:19:15.010974,NaT,NaT,2020-03-10,2020-03-24 23:40:44.989026,2020-03-15 23:00:00,NaT,NaN,2020-03-08 14:57:10.702615,NaN,NaN,NaT,NaT,nice
3,5,985,0,526,2020-03-25 02:27:41.780578,NaT,90.0,NaN,money_back,NaN,regular,nice,1 days 21:32:18.219422,NaT,19 days 19:32:18.219422,NaT,-9 days +01:09:05.843302,NaT,NaT,2020-03-27,2020-04-22 20:50:54.156698,2020-04-13 22:00:00,NaT,NaN,2020-03-25 11:00:18.003849,NaN,NaN,NaT,NaT,nice
4,4,1348,0,526,2020-04-23 18:54:05.810157,NaT,80.0,NaN,money_back,NaN,regular,nice,3 days 05:05:54.189843,NaT,17 days 03:05:54.189843,NaT,-12 days +08:11:47.735425,NaT,NaT,2020-04-27,2020-05-22 13:48:12.264575,2020-05-10 22:00:00,NaT,NaN,2020-04-24 08:41:52.485739,NaN,NaN,NaT,NaT,completed
5,6,3478,0,526,2020-06-16 12:38:38.140763,NaT,80.0,NaN,money_back,NaN,regular,nice,1 days 11:21:21.859237,NaT,12 days 09:21:21.859237,NaT,-2 days +13:13:24.063854,NaT,NaT,2020-06-18,2020-06-30 08:46:35.936146,2020-06-28 22:00:00,NaT,NaN,2020-06-16 13:26:21.815821,NaN,NaN,NaT,NaT,nice
6,7,7250,1904,526,2020-07-08 22:46:36.854214,2020-07-24 17:07:26.992132,90.0,5.0,money_back,cancelled,regular,postpone,1 days 01:13:23.145786,NaT,20 days 23:13:23.145786,NaT,-13 days +00:00:00,NaT,NaT,2020-07-10,2020-08-11 22:00:00.000000,2020-07-29 22:00:00,NaT,before,2020-07-09 08:56:37.509660,Postpone Cash Request 7250,nice,2020-07-29 22:00:00,2020-08-10 22:00:00,nice
7,8,7250,2102,526,2020-07-08 22:46:36.854214,2020-07-27 12:52:44.616105,90.0,5.0,money_back,cancelled,regular,postpone,1 days 01:13:23.145786,NaT,20 days 23:13:23.145786,NaT,-13 days +00:00:00,NaT,NaT,2020-07-10,2020-08-11 22:00:00.000000,2020-07-29 22:00:00,NaT,before,2020-07-09 08:56:37.509660,Postpone Cash Request 7250,nice,2020-07-29 22:00:00,2020-08-09 22:00:00,nice
8,9,12484,4815,526,2020-08-14 12:28:42.222162,2020-08-22 15:08:31.470344,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
9,10,12484,5132,526,2020-08-14 12:28:42.222162,2020-08-25 16:19:27.021491,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
10,11,12484,5475,526,2020-08-14 12:28:42.222162,2020-08-30 12:59:17.811187,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
11,12,12484,4186,526,2020-08-14 12:28:42.222162,2020-08-18 07:22:33.867416,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
12,13,12484,5622,526,2020-08-14 12:28:42.222162,2020-09-01 12:20:15.728250,90.0,5.0,money_back,accepted,instant,instant_payment,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,2020-09-10 10:28:49.144402,after,2020-08-14 13:05:51.517542,Instant Payment Cash Request 12484,nice,NaT,NaT,nice
13,14,12484,4313,526,2020-08-14 12:28:42.222162,2020-08-19 10:32:05.286328,90.0,5.0,money_back,cancelled,instant,postpone,3 days 11:31:17.777838,-4 days +11:31:17.835640,14 days 09:31:17.777838,7 days 09:31:17.835640,-11 days +00:00:00,6 days 23:59:59.942198,2020-08-21 12:28:42.164360,2020-08-18,2020-09-08 22:00:00.000000,2020-08-28 22:00:00,NaT,before,2020-08-14 13:05:51.517542,Postpone Cash Request 12484,nice,2020-08-28 22:00:00,2020-09-10 22:00:00,nice
14,1,16070,7644,526,2020-09-14 13:13:07.251900,2020-09-14 16:59:02.063951,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 10:46:52.748100,-7 days +10:46:52.800914,29 days 08:46:52.748100,22 days 08:46:52.800914,7 days 07:09:30.392404,6 days 23:59:59.947186,2020-09-21 13:13:07.199086,2020-09-15,2020-10-06 14:50:29.607596,2020-10-13 22:00:00,2020-10-06 14:50:29.637469,after,2020-09-14 16:58:51.617615,Instant Payment Cash Request 16070,nice,NaT,NaT,nice
15,16,20665,13022,526,2020-10-12 17:22:01.397186,2020-10-13 07:45:03.154446,90.0,5.0,money_back,accepted,instant,instant_payment,1 days 06:37:58.602814,1 days 06:37:48.336229,29 days 05:37:58.602814,29 days 05:37:48.336229,12 days 23:33:06.019112,0 days 00:00:10.266585,2020-10-12 17:22:11.663771,2020-10-14,2020-10-28 23:26:53.980888,2020-11-10 23:00:00,2020-10-28 23:26:54.021906,after,2020-10-13 07:45:01.307840,Instant Payment Cash Request 20665,nice,NaT,NaT,nice
16,15,20665,18066,526,2020-10-12 17:22:01.397186,2020-10-26 18:40:10.764100,90.0,5.0,money_back,accepted,instant,postpone,1 days 06:37:58.602814,1 days 06:37:48.336229,29 days 05:37:58.602814,29 days 05:37:48.336229,12 days 23:33:06.019112,0 days 00:00:10.266585,2020-10-12 17:22:11.663771,2020-10-14,2020-10-28 23:26:53.980888,2020-11-10 23:00:00,2020-10-26 18:40:15.358285,before,2020-10-13 07:45:01.307840,Postpone Cash Request 20665,nice,2020-10-29 22:00:00,2020-11-10 23:00:00,nice
17,17,26720,20755,526,2020-10-31 12:46:40.831215,2020-10-31 14:59:15.093577,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 11:13:19.168785,0 days 11:13:09.626319,27 days 11:04:19.168785,27 days 11:04:09.626319,-1 days +04:09:55.647114,0 days 00:00:09.542466,2020-10-31 12:46:50.373681,2020-11-01,2020-11-28 19:41:04.352886,2020-11-27 23:51:00,2020-11-28 19:41:04.411337,after,2020-10-31 14:59:13.307943,Instant Payment Cash Request 26720,nice,NaT,NaT,nice

User ID: 12934

,index,id_cr,id_fe,user_id,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status
0,0,10094,2500,12934,2020-07-30 10:29:06.883916,2020-08-01 09:43:39.183502,50.0,5.0,money_back,accepted,instant,postpone,1 days 13:30:53.116084,-6 days +13:30:53.116778,16 days 11:30:53.116084,9 days 11:30:53.116778,-1 days +00:00:00,6 days 23:59:59.999306,2020-08-06 10:29:06.883222,2020-08-01,2020-08-16 22:00:00.000000,2020-08-15 22:00:00.000000,2020-08-01 09:43:43.408259,before,2020-07-30 10:45:55.890861,Postpone Cash Request 10094,nice,2020-08-13 10:29:25.986,2020-08-15 22:00:00,nice
1,1,10094,2374,12934,2020-07-30 10:29:06.883916,2020-07-30 10:45:56.972019,50.0,5.0,money_back,accepted,instant,instant_payment,1 days 13:30:53.116084,-6 days +13:30:53.116778,16 days 11:30:53.116084,9 days 11:30:53.116778,-1 days +00:00:00,6 days 23:59:59.999306,2020-08-06 10:29:06.883222,2020-08-01,2020-08-16 22:00:00.000000,2020-08-15 22:00:00.000000,2020-08-18 04:20:03.631389,after,2020-07-30 10:45:55.890861,Instant Payment Cash Request 10094,nice,NaT,NaT,nice
2,2,12969,4261,12934,2020-08-18 17:03:16.380648,2020-08-18 17:04:24.513048,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 06:56:43.619352,-7 days +06:56:43.640985,14 days 00:00:13.055352,7 days 00:00:13.076985,-1 days +19:03:29.436000,6 days 23:59:59.978367,2020-08-25 17:03:16.359015,2020-08-19,2020-09-01 22:00:00.000000,2020-09-01 17:03:29.436000,2020-09-03 06:05:37.049392,after,2020-08-18 17:04:23.114327,Instant Payment Cash Request 12969,nice,NaT,NaT,nice
3,3,14683,6204,12934,2020-09-05 11:15:19.626216,2020-09-05 11:18:13.557782,100.0,5.0,money_back,accepted,instant,instant_payment,2 days 12:44:40.373784,-5 days +12:44:40.393945,14 days 00:00:14.434784,7 days 00:00:14.454945,0 days 10:38:36.069102,6 days 23:59:59.979839,2020-09-12 11:15:19.606055,2020-09-08,2020-09-19 00:36:57.991898,2020-09-19 11:15:34.061000,2020-09-19 00:36:58.048016,after,2020-09-05 11:18:12.405354,Instant Payment Cash Request 14683,nice,NaT,NaT,nice
4,4,17478,8857,12934,2020-09-23 13:44:15.487683,2020-09-23 13:44:54.658790,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 10:15:44.512317,-14 days +10:15:44.534063,14 days 00:00:12.044317,0 days 00:00:12.066063,12 days 03:49:18.007404,13 days 23:59:59.978254,2020-10-07 13:44:15.465937,2020-09-24,2020-09-25 09:55:09.524596,2020-10-07 13:44:27.532000,2020-09-25 09:55:09.562910,after,2020-09-23 13:44:53.535180,Instant Payment Cash Request 17478,nice,NaT,NaT,nice
5,5,17791,11369,12934,2020-09-25 09:58:04.442154,2020-10-06 14:39:28.478601,10.0,5.0,money_back,accepted,instant,postpone,0 days 14:01:55.557846,-7 days +14:01:55.579246,39 days 13:01:55.557846,32 days 13:01:55.579246,28 days 08:17:12.508463,6 days 23:59:59.978600,2020-10-02 09:58:04.420754,2020-09-26,2020-10-06 14:42:47.491537,2020-11-03 23:00:00.000000,2020-10-06 14:39:33.571179,before,2020-09-25 09:58:39.706787,Postpone Cash Request 17791,nice,2020-10-09 09:58:18.793,2020-11-03 23:00:00,nice
6,6,17791,9212,12934,2020-09-25 09:58:04.442154,2020-09-25 09:58:41.146192,10.0,5.0,money_back,accepted,instant,instant_payment,0 days 14:01:55.557846,-7 days +14:01:55.579246,39 days 13:01:55.557846,32 days 13:01:55.579246,28 days 08:17:12.508463,6 days 23:59:59.978600,2020-10-02 09:58:04.420754,2020-09-26,2020-10-06 14:42:47.491537,2020-11-03 23:00:00.000000,2020-10-06 14:42:47.523911,after,2020-09-25 09:58:39.706787,Instant Payment Cash Request 17791,nice,NaT,NaT,nice
7,7,20137,12237,12934,2020-10-09 12:38:14.370122,2020-10-09 12:39:53.922936,10.0,5.0,money_back,accepted,instant,instant_payment,0 days 11:21:45.629878,0 days 11:21:21.266119,10 days 00:00:24.363759,10 days 00:00:00,8 days 19:29:13.165421,0 days 00:00:24.363759,2020-10-09 12:38:38.733881,2020-10-10,2020-10-10 17:09:25.568460,2020-10-19 12:38:38.733881,2020-10-10 17:09:25.604127,after,2020-10-09 12:39:52.859392,Instant Payment Cash Request 20137,nice,NaT,NaT,nice
8,8,20377,12495,12934,2020-10-10 17:10:32.703634,2020-10-10 17:11:15.230433,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +06:49:27.296366,-1 days +06:49:18.162429,10 days 00:00:09.133937,10 days 00:00:00,6 days 01:22:15.734136,0 days 00:00:09.133937,2020-10-10 17:10:41.837571,2020-10-10,2020-10-14 15:48:26.103435,2020-10-20 17:10:41.837571,2020-10-14 15:48:26.135796,after,2020-10-10 17:11:13.931870,Instant Payment Cash Request 20377,nice,NaT,NaT,nice
9,9,21111,13455,12934,2020-10-14 15:50:46.902188,2020-10-14 15:52:29.294736,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +08:09:13.097812,-1 days +08:07:31.876135,15 days 00:59:57.633812,15 days 00:58:16.412135,9 days 01:39:41.495114,0 days 00:01:41.221677,2020-10-14 15:52:28.123865,2020-10-14,2020-10-20 15:11:03.040886,2020-10-29 16:50:44.536000,2020-10-20 15:11:03.078056,after,2020-10-14 15:51:22.315282,Instant Payment Cash Request 21111,nice,NaT,NaT,nice
10,10,22530,15234,12934,2020-10-20 15:12:17.681432,2020-10-20 15:14:55.016147,10.0,5.0,money_back,accepted,instant,instant_payment,-1 days +08:47:42.318568,-1 days +08:45:06.658145,22 days 00:58:42.318568,22 days 00:56:06.658145,12 days 02:48:32.612383,0 days 00:02:35.660423,2020-10-20 15:14:53.341855,2020-10-20,2020-10-30 13:22:27.387617,2020-11-11 16:11:00.000000,2020-10-30 13:22:27.426773,after,2020-10-20 15:14:09.852179,Instant Payment Cash Request 22530,nice,NaT,NaT,nice