## Estructura de los Datos

### Cash_Request (CR)

* **CR.id**:
  Unique ID of Cash Request.

* **CR.user_id**:
  Unique ID of the user who requested the cash advance.

* **CR.deleted_account_id**:
  If a user delete his account, we are replacing the user_id by this id. 
  
  It corresponds to a unique ID in the deleted account table with some keys information saved for fraud-fighting purposes (while respecting GDPR regulation).

* **CR.amount**:
  Amount of the Cash Request.

* **CR.created_at**:
  Timestamp of the CR creation.

* **CR.updated_at**:
  Timestamp of the latest CR's details update **(= update of at least one column in this table)**.

* **CR.reimbursement_date**:
  Planned reimbursement date. The user card will be charged at this date.

* **CR.cash_request_received_date**:
  Date of the receipt of the CR. Based on user's bank history.

* **CR.money_back_date**:
  Date where the CR was considered as money back. 
  
  It's either the paid_by_card date or the date were we considered that's the direc debit have low odds to be rejected (based on business rules) 

* **CR.send_at**:
  Timestamp of the funds's transfer.

* **CR.transfer_type**:
  Possible values are:

  | Campo        | Registros | Descripcion                                                  |
  | ------------ | --------: | ------------------------------------------------------------ |
  | **instant**: |     13882 | El usuario eligió recibir el adelanto instantáneamente. (user choose not received the advance instantly) |
  | **regular**: |     10086 | El usuario eligió no pagar inmediatamente y esperar la transferencia. (user choose to not pay and wait for the transfer) |

---

* **CR.reco_creation**:
  Timestamp of the recovery creation.
* **CR.reco_last_update**:
  Timestamp of the last recovery case update. Can be used to determine the incident closure date.
* **CR.moderated_at**:
  Timestamp of the manual review. Only filled if the CR needed a manual review.

* **CR.recovery_status**:
  Possible values are:

  | Campo                     | Registros | Descripcion                                                  |
  | ------------------------- | --------: | ------------------------------------------------------------ |
  | **NULL (Nice)**:          |     20639 | El CR nunca tuvo un incidente de pago. (Null if the cash request never had a payment incident.) |
  | **completed**:            |      2467 | El incidente de pago fue resuelto (el CR fue reembolsado). (the payment incident was resolved **(=the cash request was reimbursed)**) |
  | **pending**: (+-=direct_debit_rejected): |       845 | El incidente de pago aún está abierto. (the payment incident still open) |
  | **pending_direct_debit**: |        16 | El incidente de pago sigue abierto, pero se ha lanzado un débito directo SEPA. (the payment incident still open but a SEPA direct debit is launched) |
  | **cancelled**:            |         1 | ?? No figura a la documentacio                               |


* **CR.status**:     (23970 registros)
  Status of the CR. Possible values are: 

  | Campo                                                     | Registros | Descripcion                                                  |
  | --------------------------------------------------------- | --------: | ------------------------------------------------------------ |
  | **money_back**:                                           |     16395 | El CR fue reembolsado exitosamente.(The CR was successfully reimbursed.) |
  | **active**:                                               |        59 | Los fondos fueron recibidos en la cuenta del cliente. (Funds were received on the customer account.) |
  | **direct_debit_sent**:                                    |        34 | Se envió un débito directo SEPA, pero aún no se confirma el resultado. (We sent/scheduled a SEPA direct debit to charge the customer account. The result of this debit is not yet confirmed) |
  |                                                           |           |                                                              |
  | **rejected**:                                             |      6568 | El CR necesitó una revisión manual y fue rechazado. (The CR needed a manual review and was rejected) |
  | **direct_debit_rejected**: (+-=CR.recovery_status)        |       831 | El intento de débito directo SEPA falló. (Our last attempt of SEPA direct debit to charge the customer was rejected ) |
  | **transaction_declined**:                                 |        48 | No se pudo enviar el dinero al cliente. (We failed to send the funds to the customer) |
  | **canceled**:                                             |        33 | El usuario no confirmó el CR en la app, fue cancelado automáticamente. (The user didn't confirm the cash request in-app, we automatically canceled it) |
  | **En los datos proporcionados, NO aparecen los valores:** |           |                                                              |
  | **approved**:                                             |         0 | CR is a 'regular' one (= without fees) and was approved either automatically or manually. Funds will be sent aprox. 7 days after the creation. |
  | **money_sent**:                                           |         0 | We transferred the fund to the customer account. Will change to active once we detect that the user received the funds (using user's bank history). |
  | **pending**:                                              |         0 | The CR is pending a manual review from an analyst.           |
  | **waiting_user_confirmation**:                            |         0 | The user needs to confirm in-app that he want the CR (for legal reasons) |
  | **waiting_reimbursement**:                                |         0 | We were not able to estimate a date of reimbursement, the user needs to choose one in the app. |
     

---
---
#### Columnas que figuran en la documentacion per que NO TENEMOS EN LA BASE DE DATOS:

* **(CR.reason)**:
  Filled only if the CR was manually reviewed and rejected. **That's the rejection's reason displayed in-app**. 

* **(CR.cash_request_debited_date)**:
  Filled only if a SEPA direct debit was sent. It's the date were the latest direct debit was seen on the user account.

### Fees (FE)

* **FE.id**:
  Unique ID of the fee object.

* **FE.cash_request_id**:
  Unique ID of the CR linked to this fee.

* **FE.total_amount**:
  Amount of the fee (including VAT). **TODO: Es un importe o un porcentaje ??**

* **FE.reason**:
  Description of the fee.

* **FE.created_at**:
  Timestamp of the fee's creation.

* **FE.updated_at**:
  Timestamp of the latest fee's details update.

* **FE.paid_at**:
  Timestamp of the fee's payment.

* **FE.from_date**:
  Apply only to postpone fees. Initial date of reimbursement for the CR.

* **FE.to_date**:
  Apply only to postpone fees. New date of reimbursement for the CR.


* **FE.type**:
  Type of fee. Possible values are:

  | Campo                | Registros | Descripcion                                                  |
  | -------------------- | --------: | ------------------------------------------------------------ |
  | **instant_payment**: |     11095 | Fees por adelanto instantáneo. (fees for instant cash request (send directly after user's request, **through SEPA Instant Payment**) ) |
  | **postpone**:        |      7766 | Fees por la solicitud de posponer un reembolso. (fees created when a user want to postpone the reimbursment of a CR) |
  | **incident**:        |      2196 | Fees por fallos de reembolsos. (fees for failed reimbursement. Created after a failed direct debit) |
  | **split_payment**:   |         0 | Fees por pago fraccionado (en caso de un incidente).<br/>(futures fees for split payment (in case of an incident, we'll soon offer the possibility to our users to reimburse in multiples installements)) |


* **FE.status**:
  (= does the fees was successfully charged). Possibles values are:

  | Campo          | Registros | Descripcion                                                  |
  | -------------- | --------: | ------------------------------------------------------------ |
  | **accepted**:  |     14841 | El fee fue cobrado exitosamente. (fees were successfully charged) |
  | **cancelled**: |      4934 | El fee fue **creado pero cancelado** por algún motivo. <br>Se utiliza para solucionar problemas con las `fees`, pero se refiere principalmente a `fees` `postpone` que fallaron. Estamos cobrando las `fees` en el momento de la solicitud del `postpone`. <br/ >Si falla, no se acepta el `postpone` y la fecha de reembolso sigue siendo la misma. |
  |                |           | (Fee was created and cancelled for some reasons. It's used to fix issues with fees but it mainly concern postpone fees who failed. We are charging the fees at the moment of the postpone request. If it failed, the postpone is not accepted and the reimbursement date still the same.) |
  | **rejected**:  |      1194 | El último intento de cobrar el fee falló. (the last attempt to charge the fee failed.) |
  | **confirmed**: |        88 | El usuario completó una acción que creó un fee. (the user made an action who created a fee. <br/>It will normally get charged at the moment of the CR's reimbursement. In some rare cases, postpones are confirmed without being charges due to a commercial offer.) |


* **FE.category**:
  Describe the reason of the incident fee. 2 possibles values:

  | Campo                       | Registros | Descripcion                                                  |
  | --------------------------- | --------: | ------------------------------------------------------------ |
  | **rejected_direct_debit**:  |     18861 | Fees creados cuando el banco del usuario rechaza el primer débito directo. (fees created when user's bank rejects the first direct debit) |
  | **month_delay_on_payment**: |      1599 | Fees creados cada mes hasta que el incidente se cierre. (fees created every month until the incident is closed) |
  | **NULL**:                   |       597 | ?? No figura a la documentacio                               |


* **FE.charge_moment**:
  When the fee will be charge. 2 possibles values:

  | Campo       | Registros | Descripcion                                                  |
  | ----------- | --------: | ------------------------------------------------------------ |
  | **after**:  |     16720 | El fee se cobra cuando el CR es reembolsado. (the fee should be charged at the moment of the CR's reimbursement) |
  | **before**: |      4337 | El fee se cobra en el momento de su creación. (the fee should be charged at the moment of its creation) |

## EDA

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import itertools # Importando itertools para generar combinaciones de columnas
# Importando la función seasonal_decompose para la descomposición de series temporales
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.patches as mpatches
import payments_manager as pm

cr_cp = pm.df('cr_cp')
fe_cp = pm.df('fe_cp')
df_jo = pm.df('df_jo')

#df_jo = pm.sort("df_jo", ["id_cr"]).reset_index()
df_jo = pm.sort("df_jo", ['created_at','created_at_fe']).reset_index()
df_jo = df_jo.drop(columns=['index'])

#df_jo = df_jo.drop(columns=['Mes_created_at'])
df_jo_cp = df_jo.copy()
df_jo_cp['cr_received_date'] = df_jo_cp.cash_request_received_date
#df_jo.info()
pd.options.display.max_columns = None
display(df_jo)

,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status,updated_at,reco_creation,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,n_fees,n_backs,n_recovery,created_at_slot,created_at_slot_h,created_at_dow,needs_m_check,needs_m_check_recov
0,3,0,NaN,47,1,2019-11-19 13:57:53.511561,NaT,1.0,NaN,canceled,cr_regular,regular,nice,NaT,NaT,16 days 09:02:06.488439,NaT,NaT,NaT,NaT,NaT,NaT,2019-12-05 23:00:00.000000,NaT,NaN,2019-11-20 12:16:50.000000,NaN,NaN,NaT,NaT,nice,2020-12-14 10:25:57.710844,NaT,NaT,NaT,2019-11,NaT,0,0,0,7,13-Mañana,1,1,1
1,4,0,NaN,99001309,0,2019-12-09 14:47:35.190714,NaT,100.0,NaN,money_back,cr_regular,regular,nice,NaT,NaT,7 days 08:12:24.809286,NaT,0 days 00:00:00,NaT,NaT,NaT,2019-12-16 23:00:00.000000,2019-12-16 23:00:00.000000,NaT,NaN,2019-12-09 14:58:28.000000,NaN,NaN,NaT,NaT,nice,2020-11-04 12:54:52.120014,NaT,NaT,NaT,2019-12,NaT,0,1,0,14,14-Tarde,0,0,0
2,5,0,NaN,804,1,2019-12-10 19:05:21.596873,NaT,100.0,NaN,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999490,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09 19:05:21.596363,NaT,NaN,2019-12-11 16:47:42.405646,NaN,NaN,NaT,NaT,nice,2019-12-11 16:47:42.407830,NaT,NaT,NaT,2019-12,NaT,0,0,0,14,19-Tarde,1,1,1
3,6,0,NaN,812,1,2019-12-10 19:05:48.921042,NaT,100.0,NaN,direct_debit_rejected,cr_regular,regular,nice,0 days 04:54:11.078958,NaT,57 days 03:54:11.078958,NaT,NaT,NaT,NaT,2019-12-11 00:00:00.000000,NaT,2020-02-05 23:00:00.000000,NaT,NaN,2019-12-11 09:40:33.000000,NaN,NaN,NaT,NaT,pending,2020-12-18 22:47:47.993817,2020-03-20 14:12:53.208246,2020-12-18 22:47:48.008850,NaT,2019-12,2019-12-11 00:00:00.000000,0,0,1,14,19-Tarde,1,1,1
4,7,0,NaN,191,1,2019-12-10 19:13:35.825460,NaT,100.0,NaN,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999581,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09 19:13:35.825041,NaT,NaN,2019-12-11 09:46:59.777728,NaN,NaN,NaT,NaT,nice,2019-12-11 09:46:59.779773,NaT,NaT,NaT,2019-12,NaT,0,0,0,14,19-Tarde,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32087,27006,21181,27006.0,55916,1,2020-11-01 23:07:55.231487,2020-11-01 23:08:17.050811,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 00:52:04.768513,0 days 00:51:52.585840,10 days 22:52:04.768513,10 days 22:51:52.585840,0 days 02:20:39.758020,0 days 00:00:12.182673,2020-11-01 23:08:07.414160,2020-11-02 00:00:00.000000,2020-11-12 19:39:20.241980,2020-11-12 22:00:00.000000,2020-11-12 19:39:20.299302,after,NaT,Instant Payment Cash Request 27006,nice,NaT,NaT,nice,2020-12-18 13:11:35.051472,NaT,NaT,2020-11-01 23:08:17.050835,2020-11,2020-11-02 00:00:00.000000,2,2,0,21,23-Noche,6,0,0
32088,27007,21182,27007.0,39339,1,2020-11-01 23:11:37.788849,2020-11-01 23:12:30.916635,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 00:48:22.211151,0 days 00:47:43.664084,27 days 11:48:22.211151,27 days 11:47:43.664084,-1 days +15:32:16.944702,0 days 00:00:38.547067,2020-11-01 23:12:16.335916,2020-11-02 00:00:00.000000,2020-11-29 19:27:43.055298,2020-11-29 11:00:00.000000,2020-11-29 19:27:43.101686,after,NaT,Instant Payment Cash Request 27007,nice,NaT,NaT,nice,2020-12-18 13:13:10.258884,NaT,NaT,2020-11-01 23:12:30.916658,2020-11,2020-11-02 00:00:00.000000,3,3,0,21,23-Noche,6,0,0
32089,27008,0,NaN,24505,1,2020-11-01 23:13:19.286745,NaT,50.0,NaN,rejected,cr_regular,instant,nice,NaT,NaT,23 days 00:37:40.713255,23 days 00:37:31.208471,NaT,0 days 00:00:09.504784,2020-11-01 23:13:28.791529,NaT,NaT,2020-11-24 23:51:00.000000,NaT,NaN,2020-11-02 09:06:37.162733,NaN,NaN,NaT,NaT,nice,2020-11-02 09:06:37.169489,NaT,NaT,NaT,2020-11,NaT,0,0,0,21,23-Noche,6,1,1
32090,27009,21183,27009.0,100781,1,2020-11-01 23:15:28.102894,2020-11-01 23:16:45.505687,60.0,5.0,money_back,accepted,instant,instant_payment,3 days 00:00:44.617384,3 days 00:00:00,32 days 11:44:31.897106,32 days 11:43:47.279722,1 days 20:42:22.566460,0 days 00:00:44.617384,2020-11-01 23:16:12.720278,2020-11-04 23:16:12.720278,2020-12-02 14:17:37.433540,2020-12-04 11:00:00.000000,2020-12-02 14:17:37.499800,after,NaT,Instant Payment Cash Request 27009,nice,NaT,NaT,nice,2020-12-18 13:10:18.004190,NaT,NaT,2020-11-01 23:16:45.505708,2020-11,2020-11-04 23:16:12.720278,1,1,0,21,23-Noche,6,0,0
32091,27010,21193,27010.0,96599,1,2020-11-01 23:42:30.847066,2020-11-01 23:43:04.178637,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 00:17:29.152934,1 days 00:17:00.309483,28 days 23:17:29.152934,28 days 23:17:00.309483,0 days 13:42:14.252613,0 days 00:00:28.843451,2020-11-01 23:42:59.690517,2020-11-03 00:00:00.000000,2020-11-30 09:17:45.747387,2020-11-30 23:00:00.000000,2020-11-30 09:17:45.795493,after,NaT,Instant Payment Cash Request 27010,nice,NaT,NaT,nice,2020-12-18 13:10:37.690636,NaT,NaT,2020-11-01 23:43:04.178658,2020-11,2020-11-03 00:00:00.000000,1,1,0,21,23-Noche,6,0,0

In [3]:
df_jo = pm.df('df_jo')
df_jo['n_recovery'] = df_jo.query('recovery_status != "nice"').sort_values(
        ['created_at','created_at_fe']).groupby(
            ['user_id'])['id_cr'].transform(lambda x: (x>0).cumsum()).fillna(0).astype(int)
df_jo['n_recovery'] = df_jo['n_recovery'].fillna(0).astype(int)

fields = ['id_cr','user_id','created_at','transfer_type','type','stat_cr' ,'amount','fee','n_fees','n_backs','needs_m_check', 'n_recovery',
          'stat_fe','id_fe','created_at_fe','updated_at_fe','reason','money_back_date', 'reimbursement_date',
          'to_reimbur','from_date','to_date', 'charge_moment','recovery_status' # 'paid_at', 'to_end',, #,'user_id', 'cr_received_date','recovery_status'
          #'to_receive_ini','to_receive_bank' #,'to_reimbur_cash', 'updated_at', 'to_send','send_at','moderated_at'
]

#df_jo = df_jo.copy()
timeFormat ='d' #s
df_jo['created_at'] = df_jo['created_at'].dt.to_period(timeFormat) #'Min')
df_jo['created_at_fe'] = df_jo['created_at_fe'].dt.to_period(timeFormat) #'Min')
df_jo['updated_at'] = df_jo['updated_at'].dt.to_period(timeFormat) #'Min')
df_jo['updated_at_fe'] = df_jo['updated_at_fe'].dt.to_period(timeFormat) #'Min')

df_jo['to_receive_ini'] = pd.to_timedelta(df_jo['to_receive_ini']).round(timeFormat)
#df['to_receive_ini'] = df['to_receive_ini'].timedelta(seconds=math.ceil(df['to_receive_ini'].total_seconds()))

df_jo['to_receive_bank'] = pd.to_timedelta(df_jo['to_receive_bank']).round(timeFormat)
df_jo['to_reimbur'] = pd.to_timedelta(df_jo['to_reimbur']).round(timeFormat)
df_jo['to_reimbur_cash'] = pd.to_timedelta(df_jo['to_reimbur_cash']).round(timeFormat)
df_jo['to_end'] = pd.to_timedelta(df_jo['to_end']).round(timeFormat)
df_jo['to_send'] = pd.to_timedelta(df_jo['to_send']).round(timeFormat)

df_jo['money_back_date'] = df_jo['money_back_date'].dt.to_period(timeFormat)
df_jo['send_at'] = df_jo['send_at'].dt.to_period(timeFormat)
df_jo['paid_at'] = df_jo['paid_at'].dt.to_period(timeFormat)
df_jo['moderated_at'] = df_jo['moderated_at'].dt.to_period(timeFormat)
df_jo['from_date'] = df_jo['from_date'].dt.to_period(timeFormat)
df_jo['to_date'] = df_jo['to_date'].dt.to_period(timeFormat)

df_jo['reco_creation'] = df_jo['reco_creation'].dt.to_period(timeFormat)
df_jo['reco_last_update'] = df_jo['reco_last_update'].dt.to_period(timeFormat)
#display(df_jo.head(5))
display(df_jo[df_jo.user_id == 23328][fields].sort_values(['created_at','created_at_fe']))
#display(df_jo[df_jo['n_recovery'] != 0][fields].head(5))

,id_cr,user_id,created_at,transfer_type,type,stat_cr,amount,fee,n_fees,n_backs,needs_m_check,n_recovery,stat_fe,id_fe,created_at_fe,updated_at_fe,reason,money_back_date,reimbursement_date,to_reimbur,from_date,to_date,charge_moment,recovery_status
146,6098,23328,2020-07-01,regular,incident,active,100.0,5.0,0,0,1,1,rejected,3460,2020-08-11,2020-10-13,rejected direct debit,NaT,2020-08-03 22:00:00,34 days,NaT,NaT,after,pending
141,6098,23328,2020-07-01,regular,postpone,active,100.0,5.0,0,0,1,2,cancelled,3733,2020-08-13,2020-10-13,Postpone Cash Request 6098,NaT,2020-08-03 22:00:00,34 days,2020-08-03,2020-09-03,after,pending
142,6098,23328,2020-07-01,regular,postpone,active,100.0,5.0,0,0,1,3,cancelled,3734,2020-08-13,2020-10-13,Postpone Cash Request 6098,NaT,2020-08-03 22:00:00,34 days,2020-08-03,2020-09-03,after,pending
143,6098,23328,2020-07-01,regular,postpone,active,100.0,5.0,0,0,1,4,cancelled,3735,2020-08-13,2020-10-13,Postpone Cash Request 6098,NaT,2020-08-03 22:00:00,34 days,2020-08-03,2020-09-01,after,pending
144,6098,23328,2020-07-01,regular,postpone,active,100.0,5.0,0,0,1,5,cancelled,4360,2020-08-19,2020-10-13,Postpone Cash Request 6098,NaT,2020-08-03 22:00:00,34 days,2020-08-03,2020-09-03,after,pending
145,6098,23328,2020-07-01,regular,incident,active,100.0,5.0,0,0,1,6,cancelled,7154,2020-09-10,2020-12-15,month delay on payment - 9/2020,NaT,2020-08-03 22:00:00,34 days,NaT,NaT,after,pending
147,6098,23328,2020-07-01,regular,incident,active,100.0,5.0,0,0,1,7,rejected,12573,2020-10-10,2020-10-13,month delay on payment - 9/2020,NaT,2020-08-03 22:00:00,34 days,NaT,NaT,after,pending

### Estudio de registros

In [9]:
counts = cr_cp.status.value_counts()
display(counts)

counts = cr_cp.transfer_type.value_counts()
display(counts)

counts = cr_cp.recovery_status.value_counts()
display(counts)

status
money_back               16395
rejected                  6568
direct_debit_rejected      831
active                      59
transaction_declined        48
direct_debit_sent           34
canceled                    33
Name: count, dtype: int64

transfer_type
instant    13882
regular    10086
Name: count, dtype: int64

recovery_status
nice                    20639
completed                2467
pending                   845
pending_direct_debit       16
cancelled                   1
Name: count, dtype: int64

In [16]:
counts = fe_cp.status.value_counts()
display(counts)

counts = fe_cp.type.value_counts()
display(counts)

counts = fe_cp.category.value_counts()
display(counts)

counts = fe_cp.charge_moment.value_counts()
display(counts)

status
accepted     14841
cancelled     4934
rejected      1194
confirmed       88
Name: count, dtype: int64

type
instant_payment    11095
postpone            7766
incident            2196
Name: count, dtype: int64

category
nice                      18861
rejected_direct_debit      1599
month_delay_on_payment      597
Name: count, dtype: int64

charge_moment
after     16720
before     4337
Name: count, dtype: int64

In [4]:
pd.options.display.max_columns = None
good_cr = ['approved', 'money_sent', 'pending', 'direct_debit_sent', 'active', 'money_back']
good_fe = ['confirmed', 'accepted', 'cr_regular']
df_jo['needs_m_check2'] = (~((df_jo['stat_cr'].isin(good_cr)) & (df_jo['stat_fe'].isin(good_fe)))).astype(int)
fields.append('needs_m_check2')
display(df_jo[fields].head(5))
#display(df_jo.head(5))

,id_cr,user_id,created_at,transfer_type,type,stat_cr,amount,fee,n_fees,n_backs,needs_m_check,n_recovery,stat_fe,id_fe,created_at_fe,updated_at_fe,reason,money_back_date,reimbursement_date,to_reimbur,from_date,to_date,charge_moment,recovery_status,needs_m_check2
0,5,804,2019-12-10,regular,nice,rejected,100.0,NaN,0,0,1,0,cr_regular,0,NaT,NaT,NaN,NaT,2020-01-09 19:05:21.596363,30 days,NaT,NaT,NaN,nice,1
1,70,231,2019-12-10,regular,nice,rejected,100.0,NaN,0,0,1,0,cr_regular,0,NaT,NaT,NaN,NaT,2020-01-09 19:50:12.347780,30 days,NaT,NaT,NaN,nice,1
2,7,191,2019-12-10,regular,nice,rejected,100.0,NaN,0,0,1,0,cr_regular,0,NaT,NaT,NaN,NaT,2020-01-09 19:13:35.825041,30 days,NaT,NaT,NaN,nice,1
3,10,761,2019-12-10,regular,nice,rejected,99.0,NaN,0,0,1,0,cr_regular,0,NaT,NaT,NaN,NaT,2020-01-09 19:16:10.879606,30 days,NaT,NaT,NaN,nice,1
4,1594,7686,2020-05-06,regular,nice,rejected,100.0,NaN,0,0,1,0,cr_regular,0,NaT,NaT,NaN,NaT,2020-06-05 22:00:00.000000,31 days,NaT,NaT,NaN,nice,1

### Formato de fechas

In [ ]:
# df = df_jo.copy()
# timeFormat ='d' #s
# df['created_at'] = df['created_at'].dt.to_period(timeFormat) #'Min')
# df['created_at_fe'] = df['created_at_fe'].dt.to_period(timeFormat) #'Min')
# df['updated_at'] = df['updated_at'].dt.to_period(timeFormat) #'Min')
# df['updated_at_fe'] = df['updated_at_fe'].dt.to_period(timeFormat) #'Min')

# df['to_receive_ini'] = pd.to_timedelta(df['to_receive_ini']).round(timeFormat)
# #df['to_receive_ini'] = df['to_receive_ini'].timedelta(seconds=math.ceil(df['to_receive_ini'].total_seconds()))

# df['to_receive_bank'] = pd.to_timedelta(df['to_receive_bank']).round(timeFormat)
# df['to_reimbur'] = pd.to_timedelta(df['to_reimbur']).round(timeFormat)
# df['to_reimbur_cash'] = pd.to_timedelta(df['to_reimbur_cash']).round(timeFormat)
# df['to_end'] = pd.to_timedelta(df['to_end']).round(timeFormat)
# df['to_send'] = pd.to_timedelta(df['to_send']).round(timeFormat)

# df['money_back_date'] = df['money_back_date'].dt.to_period(timeFormat)
# df['send_at'] = df['send_at'].dt.to_period(timeFormat)
# df['paid_at'] = df['paid_at'].dt.to_period(timeFormat)
# df['moderated_at'] = df['moderated_at'].dt.to_period(timeFormat)
# df['from_date'] = df['from_date'].dt.to_period(timeFormat)
# df['to_date'] = df['to_date'].dt.to_period(timeFormat)

# df['reco_creation'] = df['reco_creation'].dt.to_period(timeFormat)
# df['reco_last_update'] = df['reco_last_update'].dt.to_period(timeFormat)
# display(df.head(5))

AttributeError: 'PeriodProperties' object has no attribute 'to_period'

### cohort_analysis_2

In [5]:
cohort_analysis_2 = (
    df_jo.query('stat_fe == "accepted" | stat_cr == "money_back"')
        .groupby(['user_id', 'Mes_created_at'], as_index=False)
        .agg(
            total_paid_fees=('fee', lambda x: x[df_jo.loc[x.index, 'stat_fe'] == 'accepted'].sum()),            
            # Contar los valores únicos de 'stat_cr' donde su valor sea 'money_back'
            total_paid_cr=('amount', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].unique().sum()),
            # Contar los valores únicos de 'id_cr' donde 'stat_cr' es igual a 'money_back'
            Num_Solicitudes=('id_cr', lambda x: x[df_jo.loc[x.index, 'stat_cr'] == 'money_back'].nunique())
        )
)

In [7]:
# Restablecer el índice para un DataFrame limpio (opcional, ya garantizado por as_index=False)
cohort_analysis_2.reset_index(drop=True, inplace=True)

# Calcular el índice como porcentaje entre 'total_paid_fees' y 'total_paid_cr'
cohort_analysis_2['cash_index'] = (
    cohort_analysis_2['total_paid_fees'] / cohort_analysis_2['total_paid_cr'] ) * 100

# Reemplazar valores 'inf' con 0 para manejar divisiones por cero
cohort_analysis_2['cash_index'] = cohort_analysis_2['cash_index'].replace(np.inf, 0)

# Calcular la fecha del último pedido por usuario a partir del DataFrame original
df_jo['created_at'] = pd.to_datetime(df_jo['created_at'])  # Asegurarse de que el formato sea datetime
last_order_per_user = (
    df_jo.groupby('user_id')['created_at']
    .max()  # Obtener la fecha más reciente de pedido para cada usuario
    .dt.to_period('M')  # Convertir a periodo mensual
    .reset_index()  # Restablecer el índice para facilitar el merge
)

# Incorporar la fecha del último pedido en el DataFrame de análisis de cohortes
cohort_analysis_2 = pd.merge(
    cohort_analysis_2,
    last_order_per_user.rename(columns={'created_at': 'last_order'}),
    on='user_id',
    how='left'
)

display(cohort_analysis_2.head(5))

TypeError: Passing PeriodDtype data is invalid. Use `data.to_timestamp()` instead

### Estudio de casos de clientes concretos (user_id)

* 102105
* 16391 
* 2002
* 13851
* 1987 
* ...
* 16391 # 2002, 1987, 13851, 16391, 102105

* user_ids = [13851] [2002] , 1987, 1946, 90, 526, 12934] #, 12274 54879 12441, 13851, 16391, 430,  63894,18730,10116,21465, 99000262]
* vips 12934 526
* 90 Este se esta gestionando mal: todos instant, con demoras y sin gestion por 
* 1946 Parece un ejemplo de buena gestion, al final tiene un instant y se le ha dado margen el las demoras.
* 1987 Parece un ejemplo de buen usuario, se pasa a instant para siempre.

Casos que esta examinando Alba:
* 19655
* 21465
* 14631

In [ ]:
display(cohort_analysis_2[cohort_analysis_2.user_id == 102105])

display(cohort_analysis_2[cohort_analysis_2.user_id == 16391])
display(cohort_analysis_2[cohort_analysis_2.user_id == 2002])
display(cohort_analysis_2[cohort_analysis_2.user_id == 13851])
display(cohort_analysis_2[cohort_analysis_2.user_id == 1987]) #.tail(60))

In [ ]:
user_id = 2002# 16391 # 2002, 1987, 13851, 16391, 102105
display(cohort_analysis_2[cohort_analysis_2.user_id == user_id])

#print("Casos segun Cash Request ID")
pd.options.display.max_columns = None
for id in ([-8177]): # 16391 20108, 20104, 20112,
    df_t = df_jo[df_jo['id_cr'] == id].sort_values(['created_at','created_at_fe']).reset_index()
    print(f"Cash Request ID: {id}")
    display(df_t[fields])

user_ids = [user_id] 
pd.options.display.max_columns = None
#print("Casos segun Cash User ID")
for id in (user_ids):
    df_t = df_jo[(df_jo['user_id'] == id)]#.reset_index()
    df_t = df_t[df_t['stat_cr'] == 'money_back']
    df_t = df_t[df_t['stat_fe'] == 'accepted']
    
    df_t = df_t.sort_values(['created_at','created_at_fe']).reset_index(drop=True)
    #df_t.set_index('id_cr', inplace=True)
    print(f"Only money_back - user_id {id}")
    display(df_t[fields])
    df_t = df_jo[(df_jo['user_id'] == id) ].sort_values(['created_at','created_at_fe']).reset_index(drop=True)

    print(f"user_id {id}")
    display(df_t[fields])

### Estudio 2 de clientes

In [ ]:
# fields = ['id_cr','created_at','transfer_type','type','stat_cr' ,'amount','fee','n_fees','n_backs', # 'good_user',
#           'stat_fe','id_fe','created_at_fe','updated_at_fe','reason','money_back_date', 'reimbursement_date',
#           'to_reimbur','from_date','to_date', 'charge_moment' # 'paid_at', 'to_end',, #,'user_id', 'cr_received_date','recovery_status'
#           #'to_receive_ini','to_receive_bank' #,'to_reimbur_cash', 'updated_at', 'to_send','send_at','moderated_at'
# ]

df_jo = df_jo.reindex(columns=fields)
df_jo.reset_index(drop=True, inplace=True)

pd.options.display.max_columns = None
pd.options.display.max_rows = None
#display(df.head(5))
display(df_jo[df_jo['user_id'] == 2002]) #.reset_index()

### Estudio de top FEES

In [ ]:
pd.options.display.max_rows = None
tops = df_jo[df_jo['stat_cr' ]== 'money_back'].groupby('user_id').agg(fees=('fee','sum'))
tops = df_jo[df_jo['stat_fe'] == 'accepted'  ].groupby('user_id').agg(fees=('fee','sum'))
#display(df_jo[tops])
top_users = tops.sort_values(by='fees', ascending=False).iloc[:10].reset_index()
display(top_users)
#top_users = tops.sort_values(by='fees', ascending=True).iloc[:10]
#display(top_users)

#display(df_jo[top_users])