In [1]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define el símbolo del ticker para el par de divisas (GBP/EUR)
ticker = 'GBPEUR=X'

# Obtener datos históricos
data = yf.download(ticker, start='2019-10-01', end='2020-12-31')

# Mantener solo la columna 'Close' (Cierre)
exchange_rate = data[['Close']]

# Restablecer el índice para que 'Date' (Fecha) sea una columna
exchange_rate = exchange_rate.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'GBP to EUR' (GBP a EUR)
exchange_rate.columns = ['Date', 'GBP to EUR']

# Mostrar el DataFrame
exchange_rate

[*********************100%***********************]  1 of 1 completed

          Date  GBP to EUR
0   2019-10-01     1.12700
1   2019-10-02     1.12399
2   2019-10-03     1.12243
3   2019-10-04     1.12439
4   2019-10-07     1.12283
..         ...         ...
322 2020-12-24     1.10750
323 2020-12-25     1.11230
324 2020-12-28     1.11185
325 2020-12-29     1.10170
326 2020-12-30     1.10150

[327 rows x 2 columns]

In [2]:
import pandas as pd

# Define the data
data = {
    'Date': ['12-2019', '01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020', '07-2020', '08-2020', '09-2020', 
             '10-2020'],
    'Inflation (%)': [1.3, 1.8, 1.7, 1.5, 0.8, 0.5, 0.6, 1.0, 0.2, 0.5, 0.7]
}

#Fuente: https://www.statista.com/statistics/306648/inflation-rate-consumer-price-index-cpi-united-kingdom-uk/

# Create DataFrame
inflation = pd.DataFrame(data)

# Display the DataFrame
inflation

       Date  Inflation (%)
0   12-2019            1.3
1   01-2020            1.8
2   02-2020            1.7
3   03-2020            1.5
4   04-2020            0.8
5   05-2020            0.5
6   06-2020            0.6
7   07-2020            1.0
8   08-2020            0.2
9   09-2020            0.5
10  10-2020            0.7

In [ ]:
# Define the data
data3 = {
    'Date': ['12-2019', '01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020', '07-2020', '08-2020', '09-2020', 
             '10-2020'],
    'Unemployment rate (%)': [4.0, 4.1, 4.1, 4.2, 4.2, 4.2, 4.4, 4.7, 5.0, 5.2, 5.2]
}

#Fuente: https://www.oecd.org/en/data/indicators/unemployment-rate.html?oecdcontrol-59006032fa-var1=GBR&oecdcontrol-4c072e451c-var3=2020-10
#Fuente csv: https://www.ons.gov.uk/employmentandlabourmarket/peoplenotinwork/unemployment/timeseries/mgsx/lms

# Create DataFrame
unemployment = pd.DataFrame(data3)

# Display the DataFrame
unemployment

       Date  Unemployment rate (%)
0   12-2019                    4.0
1   01-2020                    4.1
2   02-2020                    4.1
3   03-2020                    4.2
4   04-2020                    4.2
5   05-2020                    4.2
6   06-2020                    4.4
7   07-2020                    4.7
8   08-2020                    5.0
9   09-2020                    5.2
10  10-2020                    5.2

In [4]:
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt

# Define el símbolo del ticker para BTC/GBP
ticker = 'BTC-GBP'

# Obtener datos históricos
data4 = yf.download(ticker, start='2019-10-01', end='2024-12-31')

# Mantener solo la columna 'Close' (Cierre)
btc_gbp_data = data4[['Close']]

# Restablecer el índice para que 'Date' (Fecha) sea una columna
btc_gbp_data = btc_gbp_data.reset_index()

# Renombrar las columnas a 'Date' (Fecha) y 'BTC to GBP' (BTC a GBP)
btc_gbp_data.columns = ['Date', 'BTC to GBP']

# Mostrar el DataFrame
btc_gbp_data

[*********************100%***********************]  1 of 1 completed

           Date    BTC to GBP
0    2019-10-01   6787.889648
1    2019-10-02   6821.671387
2    2019-10-03   6692.848633
3    2019-10-04   6653.621582
4    2019-10-05   6608.429688
...         ...           ...
1889 2024-12-02  76589.546875
1890 2024-12-03  75731.093750
1891 2024-12-04  75746.476562
1892 2024-12-05  77765.304688
1893 2024-12-06  80073.195312

[1894 rows x 2 columns]

In [5]:
# Combine the two DataFrames by the 'Date' column
combined_df_daily_exogens = pd.merge(exchange_rate, btc_gbp_data, on='Date', how='inner')

# Mostrar el DataFrame combinado
display(combined_df_daily_exogens)

          Date  GBP to EUR    BTC to GBP
0   2019-10-01     1.12700   6787.889648
1   2019-10-02     1.12399   6821.671387
2   2019-10-03     1.12243   6692.848633
3   2019-10-04     1.12439   6653.621582
4   2019-10-07     1.12283   6710.460938
..         ...         ...           ...
322 2020-12-24     1.10750  17504.076172
323 2020-12-25     1.11230  18163.101562
324 2020-12-28     1.11185  20115.507812
325 2020-12-29     1.10170  20271.953125
326 2020-12-30     1.10150  21161.933594

[327 rows x 3 columns]

In [6]:
# Combine the two DataFrames by the 'Date' column
combined_df_monthly_exogens = pd.merge(unemployment, inflation, on='Date', how='inner')

# Mostrar el DataFrame combinado
combined_df_monthly_exogens

       Date  Unemployment rate (%)  Inflation (%)
0   12-2019                    4.0            1.3
1   01-2020                    4.1            1.8
2   02-2020                    4.1            1.7
3   03-2020                    4.2            1.5
4   04-2020                    4.2            0.8
5   05-2020                    4.2            0.5
6   06-2020                    4.4            0.6
7   07-2020                    4.7            1.0
8   08-2020                    5.0            0.2
9   09-2020                    5.2            0.5
10  10-2020                    5.2            0.7

In [7]:
data = {
    'Date': ['12-2019', '01-2020', '02-2020', '03-2020', '04-2020', '05-2020', '06-2020', '07-2020', '08-2020', '09-2020', '10-2020', '11-2020'],
    'inflation': [1.3, 1.8, 1.7, 1.5, 0.8, 0.5, 0.6, 1.0, 0.2, 0.5, 0.7, 0.0] 
    }

# DataFrame original con datos diarios
data_daily = pd.DataFrame({'Date': pd.date_range(start='2019-12-01', end='2020-10-31', freq='D')})
data_inflation = pd.DataFrame(data)

# Convertir la columna 'Date' a tipo datetime con formato mensual
data_inflation['Date'] = pd.to_datetime(data_inflation['Date'], format='%m-%Y')

# Crear un rango de fechas que abarque el mes correspondiente para cada fila
data_inflation = data_inflation.set_index('Date').resample('D').ffill().reset_index()

# Renombrar columna a 'Inflation (%)'
data_inflation.rename(columns={'index': 'Date'}, inplace=True)

# Unir ambos DataFrames por la columna de fecha
data_daily = pd.merge(data_daily, data_inflation, left_on='Date', right_on='Date', how='left')

# Resultado
print(data_daily.head(500))

          Date  inflation
0   2019-12-01        1.3
1   2019-12-02        1.3
2   2019-12-03        1.3
3   2019-12-04        1.3
4   2019-12-05        1.3
..         ...        ...
331 2020-10-27        0.7
332 2020-10-28        0.7
333 2020-10-29        0.7
334 2020-10-30        0.7
335 2020-10-31        0.7

[336 rows x 2 columns]

In [8]:
combined_df_daily_exogens.reset_index(drop=True).to_csv("./data/combined_df_daily_exogens.csv", index=False)

In [ ]:
import pandas as pd
import payments_manager as pm
df_jo = pm.df('df_jo')
pd.options.display.max_columns = None
display(df_jo.sort_values(['created_at','created_at_fe']))

,id_cr,id_fe,fe_cr_id,user_id,active,created_at,created_at_fe,amount,fee,stat_cr,stat_fe,transfer_type,type,to_receive_ini,to_receive_bank,to_reimbur,to_reimbur_cash,to_end,to_send,send_at,cr_received_date,money_back_date,reimbursement_date,paid_at,charge_moment,moderated_at,reason,category,from_date,to_date,recovery_status,updated_at,reco_creation,reco_last_update,updated_at_fe,Mes_created_at,cash_request_received_date,created_at_slot,created_at_slot_h,created_at_dow,needs_m_check,needs_m_check_recov,n_fees,n_backs,n_recovery,n_incidents,created_at_d,GBP_EUR,BTC_GBP,inflation,unemploy_rate
0,3,0,NaN,47,1,2019-11-19 13:57:53.511561,NaT,1.0,0.0,canceled,cr_regular,regular,nice,NaT,NaT,16 days 09:02:06.488439,NaT,NaT,NaT,NaT,NaT,NaT,2019-12-05 23:00:00.000000,NaT,NaN,2019-11-20 12:16:50.000000,NaN,NaN,NaT,NaT,nice,2020-12-14 10:25:57.710844,NaT,NaT,NaT,2019-11,NaT,7,13-Mañana,1,1,1,0,0,0,1,2019-11-19,1.16935,6347.577148,1.3,4.0
1,4,0,NaN,99001309,0,2019-12-09 14:47:35.190714,NaT,100.0,0.0,money_back,cr_regular,regular,nice,NaT,NaT,7 days 08:12:24.809286,NaT,0 days 00:00:00,NaT,NaT,NaT,2019-12-16 23:00:00.000000,2019-12-16 23:00:00.000000,NaT,NaN,2019-12-09 14:58:28.000000,NaN,NaN,NaT,NaT,nice,2020-11-04 12:54:52.120014,NaT,NaT,NaT,2019-12,NaT,14,14-Tarde,0,0,0,0,1,0,0,2019-12-09,1.18803,5630.115723,1.3,4.0
2,5,0,NaN,804,1,2019-12-10 19:05:21.596873,NaT,100.0,0.0,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999490,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09 19:05:21.596363,NaT,NaN,2019-12-11 16:47:42.405646,NaN,NaN,NaT,NaT,nice,2019-12-11 16:47:42.407830,NaT,NaT,NaT,2019-12,NaT,14,19-Tarde,1,1,1,0,0,0,1,2019-12-10,1.18800,5543.707520,1.3,4.0
3,6,0,NaN,812,1,2019-12-10 19:05:48.921042,NaT,100.0,0.0,direct_debit_rejected,cr_regular,regular,nice,0 days 04:54:11.078958,NaT,57 days 03:54:11.078958,NaT,NaT,NaT,NaT,2019-12-11 00:00:00.000000,NaT,2020-02-05 23:00:00.000000,NaT,NaN,2019-12-11 09:40:33.000000,NaN,NaN,NaT,NaT,pending,2020-12-18 22:47:47.993817,2020-03-20 14:12:53.208246,2020-12-18 22:47:48.008850,NaT,2019-12,2019-12-11 00:00:00.000000,14,19-Tarde,1,1,1,0,0,1,1,2019-12-10,1.18800,5543.707520,1.3,4.0
4,7,0,NaN,191,1,2019-12-10 19:13:35.825460,NaT,100.0,0.0,rejected,cr_regular,regular,nice,NaT,NaT,29 days 23:59:59.999581,NaT,NaT,NaT,NaT,NaT,NaT,2020-01-09 19:13:35.825041,NaT,NaN,2019-12-11 09:46:59.777728,NaN,NaN,NaT,NaT,nice,2019-12-11 09:46:59.779773,NaT,NaT,NaT,2019-12,NaT,14,19-Tarde,1,1,1,0,0,0,1,2019-12-10,1.18800,5543.707520,1.3,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32087,27006,21181,27006.0,55916,1,2020-11-01 23:07:55.231487,2020-11-01 23:08:17.050811,50.0,5.0,money_back,accepted,instant,instant_payment,0 days 00:52:04.768513,0 days 00:51:52.585840,10 days 22:52:04.768513,10 days 22:51:52.585840,0 days 02:20:39.758020,0 days 00:00:12.182673,2020-11-01 23:08:07.414160,2020-11-02 00:00:00.000000,2020-11-12 19:39:20.241980,2020-11-12 22:00:00.000000,2020-11-12 19:39:20.299302,after,NaT,Instant Payment Cash Request 27006,nice,NaT,NaT,nice,2020-12-18 13:11:35.051472,NaT,NaT,2020-11-01 23:08:17.050835,2020-11,2020-11-02 00:00:00.000000,21,23-Noche,6,0,0,2,2,0,1,2020-11-01,NaN,NaN,0.7,5.2
32088,27007,21182,27007.0,39339,1,2020-11-01 23:11:37.788849,2020-11-01 23:12:30.916635,100.0,5.0,money_back,accepted,instant,instant_payment,0 days 00:48:22.211151,0 days 00:47:43.664084,27 days 11:48:22.211151,27 days 11:47:43.664084,-1 days +15:32:16.944702,0 days 00:00:38.547067,2020-11-01 23:12:16.335916,2020-11-02 00:00:00.000000,2020-11-29 19:27:43.055298,2020-11-29 11:00:00.000000,2020-11-29 19:27:43.101686,after,NaT,Instant Payment Cash Request 27007,nice,NaT,NaT,nice,2020-12-18 13:13:10.258884,NaT,NaT,2020-11-01 23:12:30.916658,2020-11,2020-11-02 00:00:00.000000,21,23-Noche,6,0,0,3,3,0,0,2020-11-01,NaN,NaN,0.7,5.2
32089,27008,0,NaN,24505,1,2020-11-01 23:13:19.286745,NaT,50.0,0.0,rejected,cr_regular,instant,nice,NaT,NaT,23 days 00:37:40.713255,23 days 00:37:31.208471,NaT,0 days 00:00:09.504784,2020-11-01 23:13:28.791529,NaT,NaT,2020-11-24 23:51:00.000000,NaT,NaN,2020-11-02 09:06:37.162733,NaN,NaN,NaT,NaT,nice,2020-11-02 09:06:37.169489,NaT,NaT,NaT,2020-11,NaT,21,23-Noche,6,1,1,2,2,3,8,2020-11-01,NaN,NaN,0.7,5.2
32090,27009,21183,27009.0,100781,1,2020-11-01 23:15:28.102894,2020-11-01 23:16:45.505687,60.0,5.0,money_back,accepted,instant,instant_payment,3 days 00:00:44.617384,3 days 00:00:00,32 days 11:44:31.897106,32 days 11:43:47.279722,1 days 20:42:22.566460,0 days 00:00:44.617384,2020-11-01 23:16:12.720278,2020-11-04 23:16:12.720278,2020-12-02 14:17:37.433540,2020-12-04 11:00:00.000000,2020-12-02 14:17:37.499800,after,NaT,Instant Payment Cash Request 27009,nice,NaT,NaT,nice,2020-12-18 13:10:18.004190,NaT,NaT,2020-11-01 23:16:45.505708,2020-11,2020-11-04 23:16:12.720278,21,23-Noche,6,0,0,1,1,0,0,2020-11-01,NaN,NaN,0.7,5.2
32091,27010,21193,27010.0,96599,1,2020-11-01 23:42:30.847066,2020-11-01 23:43:04.178637,100.0,5.0,money_back,accepted,instant,instant_payment,1 days 00:17:29.152934,1 days 00:17:00.309483,28 days 23:17:29.152934,28 days 23:17:00.309483,0 days 13:42:14.252613,0 days 00:00:28.843451,2020-11-01 23:42:59.690517,2020-11-03 00:00:00.000000,2020-11-30 09:17:45.747387,2020-11-30 23:00:00.000000,2020-11-30 09:17:45.795493,after,NaT,Instant Payment Cash Request 27010,nice,NaT,NaT,nice,2020-12-18 13:10:37.690636,NaT,NaT,2020-11-01 23:43:04.178658,2020-11,2020-11-03 00:00:00.000000,21,23-Noche,6,0,0,1,1,0,0,2020-11-01,NaN,NaN,0.7,5.2